body {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  overflow-x: hidden;
  font-family: Noto Sans, sans-serif;
}

header,
main,
footer {
  overflow: hidden;

}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}



/*header*/

.logo {
  position: absolute;
}

.logo_one {
  position: relative;
  top: 0px;
  left: 30px;
}


.line {
  border-bottom: 2px solid;
  color: rgb(0, 0, 0);
}


.big {
  position: relative;
  text-align: center;
  font-size: 75px;
  font-family: 'inherit';
  font-weight: bold;
  color: rgb(7, 70, 122);
  transition: all 1s;
  font-weight: bold;
  text-decoration: none;
}

.big_one {
  text-decoration: none;
}

.about,
.career,
.price,
.bell {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.first_part,
.second_part,
.third_part,
.thirdes_part {
  margin-left: 230px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: rgb(7, 70, 122);
  transition: all 1s;
}

.fifth_part_one {
  margin-left: 230px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: rgb(7, 70, 122);
  transition: all 1s;
}

.first_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 88%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.first_part:hover {
  color: rgb(0, 132, 255);
}

.first_part:hover::after {
  width: 70px;
}

.second_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 85%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.second_part:hover {
  color: rgb(0, 132, 255);
}

.second_part:hover::after {
  width: 99px;
}



.thirdes_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 87%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.thirdes_part:hover {
  color: rgb(0, 132, 255);
}

.thirdes_part:hover::after {
  width: 90px;
}

.fifth_part_one::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 83%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.fifth_part_one:hover {
  color: rgb(0, 132, 255);
}

.fifth_part_one:hover::after {
  width: 120px;
}



/*koniec header*/


/*Opis-pomocnik-spawacza*/


.opis {
  text-align: center;
  font-size: 55px;
  color: rgb(7, 70, 122);
  font-weight: 700;
}

.opis_photo {
  margin-top: 55px;
  margin-left: 100px;
  width: 410px;
  height: 330px;
  border-radius: 4%;
  background-color: rgba(7, 70, 122, 0.219);
}

.opis_photo_one {
  border-radius: 4%;
  margin-top: -10px;
  margin-left: -15px;
  width: 400px;
  height: 320px;
}

.opis_mapr {
  position: absolute;
}

.opis_one {
  position: relative;
  top: -340px;
  left: 650px;
}

.opis_sity {
  position: relative;
  top: -500px;
  left: 730px;
}

.opis_sity_one {
  position: relative;
  top: -500px;
  left: 730px;
}


.opis_napr_one {
  position: absolute;
}

.opis_two {
  position: relative;
  top: -615px;
  left: 930px;
}

.opis_sity_two {
  position: relative;
  top: -770px;
  left: 1000px;
}

.opis_sity_twoi {
  position: relative;
  top: -770px;
  left: 1000px;
}

/*koniec-opis-pomocnik-spawacza*/

/*opis_vakata*/
.ap_one {
  position: absolute;
}

.appellation_one_ap {
  position: relative;
  font-size: 25px;
  top: -460px;
  left: 600px;
}

.appellation_one {
  font-size: 25px;
  position: relative;
  top: -150px;
  left: 200px;
}

.way {
  margin-top: -100px;
}

.way_one {
  text-align: center;
  font-size: 40px;
}

/*koniec-opis-vacata*/


/*footer*/

.info {
  position: relative;
  width: 1600px;
  height: 350px;
  background-color: rgb(17, 63, 90);
  margin-top: 50px;
  overflow: hidden;
}


.big_foot {
  margin-top: -10px;
  padding-left: 180px;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  color: white;
  text-decoration: none;
}

.guide_one {
  position: absolute;
  top: 35px;
  left: 950px;
  fill: white;
}

.guide_two {
  width: 200px;
  position: absolute;
  top: 45px;
  left: 1020px;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.case {
  position: absolute;
  width: 250px;
  height: 0px;
  top: 120px;
  left: 180px;
  color: white;
  font-size: 25px;
}

.case_one {
  position: absolute;
  top: 135px;
  left: 400px;
  fill: rgb(255, 255, 255);
}

.case_two {
  position: absolute;
  top: 147px;
  left: 480px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.farther {
  position: absolute;
  top: 135px;
  left: 950px;
  fill: rgb(69, 126, 231);
}

.farther_one {
  position: absolute;
  top: 145px;
  left: 1030px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.beyond {
  position: absolute;
  top: 135px;
  left: 1180px;
}

.beyond_one {
  position: absolute;
  top: 145px;
  left: 1260px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.outside {
  position: absolute;
  top: 240px;
  left: 950px;
}

.outside_one {
  position: absolute;
  top: 250px;
  left: 1030px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.outside_two {
  position: absolute;
  top: 250px;
  left: 400px;
  fill: white;
}

.outside_tu_two {
  position: absolute;
  top: 260px;
  left: 480px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}


.outside_free {
  position: absolute;
  top: 240px;
  left: 1180px;
  fill: rgb(10, 9, 9);
}

.outside_to_free {
  position: absolute;
  top: 250px;
  left: 1255px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.outside_vor {
  position: absolute;
  top: 245px;
  left: 650px;
  fill: rgb(240, 235, 241);
}

.outside_to_vor {
  position: absolute;
  top: 260px;
  left: 720px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

/*koniec-footer*/


@media screen and (min-width: 200px) and (max-width: 400px) {

  body {
    width: 399px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }


  header,
  main,
  footer {
    overflow-x: hidden;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }


  /*header*/
  .logo_one {
    width: 90px;
    height: 90px;
    margin-left: -37px;
    margin-top: 5px;
  }

  .mn {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 10px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 21px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 11px;
    left: 2%;
  }

  .line {
    display: none;
  }

  .first_part,
  .second_part,
  .third_part,
  .thirdes_part {
    margin-left: 15px;
    font-size: 20px;
    color: rgb(7, 70, 122);
  }


  .about,
  .career,
  .price,
  .bell {
    margin-top: 40px;
  }

  .fifth_part_one {
    margin-left: 27px;
    font-size: 20px;
    color: rgb(7, 70, 122);
  }



  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 2px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 68%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 50px;
  }


  .fifth_part_one::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 2px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part_one:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part_one:hover::after {
    width: 70px;
  }


  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 63px;
  }



  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 60px;
  }

  /*koniec-header*/
  /*opis-elektryk*/
  .opis {
    font-size: 30px;
    left: 50px;
    margin-top: 15px;
  }


  .opis_photo {
    margin-top: 60px;
    margin-left: 30px;
    width: 170px;
    height: 133px;
    border-radius: 4%;
    background-color: rgba(7, 70, 122, 0.219);
  }

  .opis_photo_one {
    border-radius: 4%;
    margin-top: -10px;
    margin-left: -10px;
    width: 170px;
    height: 130px;
  }

  .opis_one {
    position: relative;
    top: -150px;
    left: 220px;
  }

  .opis_sity {
    position: relative;
    font-size: 18px;
    top: -320px;
    left: 280px;
  }


  .opis_sity_one {
    position: relative;
    font-size: 18px;
    top: -330px;
    left: 280px;
  }


  .opis_two {
    position: relative;
    top: -330px;
    left: 215px;
  }

  .opis_sity_two {
    position: relative;
    font-size: 18px;
    top: -490px;
    left: 280px;
  }

  .opis_sity_twoi {
    position: relative;
    font-size: 18px;
    top: -500px;
    left: 280px;
  }

  /*koniec-opis-elektryka*/
  /*opis-vakata*/


  .appellation_one_ap {
    position: relative;
    font-size: 16px;
    top: -210px;
    left: 15px;
  }

  .appellation_one {
    font-size: 16px;
    position: relative;
    top: -0px;
    left: 15px;
  }

  .way {
    margin-top: 20px;
  }


  .way_one {
    text-align: center;
    font-size: 23px;
  }

  /*koniec-opisc-vacata*/

  /*footer*/

  .info_mob {
    position: absolute;
  }

  .info {
    position: relative;
    top: -50px;
    left: 0%;
    width: 380px;
    height: 650px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 18px;
    padding-top: 15px;
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 80px;
    left: 30px;
    fill: white;
  }

  .guide_two {
    left: 105px;
    top: 90px;
  }

  .case {
    left: 115px;
    top: 120px;
  }

  .case_one {
    left: 33px;
    top: 130px;
  }

  .case_two {
    left: 20px;
    top: 190px;
    font-size: 20px;
  }

  .farther {
    left: 40px;
    top: 230px;
  }

  .farther_one {
    left: 115px;
    top: 240px;
  }

  .beyond {
    left: 40px;
    top: 295px;
  }

  .beyond_one {
    left: 110px;
    top: 300px;
  }

  .outside {
    left: 39px;
    top: 360px;
  }

  .outside_one {
    left: 112px;
    top: 370px;
  }

  .outside_two {
    left: 41px;
    top: 430px;
  }

  .outside_tu_two {
    left: 115px;
    top: 435px;
  }

  .outside_vor {
    left: 37px;
    top: 485px;
  }

  .outside_to_vor {
    left: 113px;
    top: 495px;
  }

  .outside_free {
    left: 40px;
    top: 550px;
    fill: white;
  }

  .outside_to_free {
    left: 113px;
    top: 560px;
  }

  /*koniec-footer*/




}


@media screen and (min-width: 400px) and (max-width: 600px) {


  /*header*/


  body {
    width: 570px;
    height: auto;
    margin-left: 2px;
  }

  header,
  main,
  footer {
    overflow-x: hidden;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  .logo_one {
    width: 90px;
    height: 90px;
    margin-left: -40px;
    margin-top: 0px;
  }

  .mn {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 10px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 23px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 9px;
    left: -28px;
  }

  .line {
    display: none;
  }

  .first_part,
  .second_part,
  .third_part,
  .thirdes_part {
    margin-left: 27px;
    font-size: 18px;
    color: rgb(7, 70, 122);
  }


  .fifth_part_one {
    margin-left: 40px;
    font-size: 18px;
  }

  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 2px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 68%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 60px;
  }

  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 2px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 83px;
  }

  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 2px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 75px;
  }


  .fifth_part_one::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 2px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part_one:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part_one:hover::after {
    width: 95px;
  }


  /*koniec-header*/
  /*opis-elektryk*/
  .opis {
    font-size: 24px;
    margin-left: -210px;
  }

  .opis_photo {
    margin-top: 70px;
    margin-left: 30px;
    width: 170px;
    height: 120px;
    border-radius: 4%;
    background-color: rgba(7, 70, 122, 0.219);
  }

  .opis_photo_one {
    border-radius: 4%;
    margin-top: -25px;
    margin-left: -5px;
    width: 168px;
    height: 130px;
  }



  .opis_one {
    position: relative;
    top: -150px;
    left: 210px;
  }

  .opis_sity {
    position: relative;
    font-size: 18px;
    top: -320px;
    left: 275px;
  }


  .opis_sity_one {
    position: relative;
    font-size: 18px;
    top: -330px;
    left: 275px;
  }


  .opis_two {
    position: relative;
    top: -330px;
    left: 210px;
  }

  .opis_sity_two {
    position: relative;
    font-size: 18px;
    top: -490px;
    left: 275px;
  }

  .opis_sity_twoi {
    position: relative;
    font-size: 18px;
    top: -500px;
    left: 275px;
  }

  /*koniec-opis-elektryka*/
  /*opis-vakata*/


  .appellation_one_ap {
    position: relative;
    font-size: 18px;
    top: -210px;
    left: 20px;
  }

  .appellation_one {
    font-size: 18px;
    position: relative;
    top: -0px;
    left: 20px;
  }

  .way {
    margin-top: 20px;
  }


  .way_one {
    text-align: center;
    font-size: 20px;
    margin-right: 210px;
    margin-left: 20px;

  }

  /*koniec-opisc-vacata*/
  /*footer*/

  .info_mob {
    position: absolute;
  }

  .info {
    position: relative;
    top: -50px;
    left: 0%;
    width: 570px;
    height: 650px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 30px;
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 80px;
    left: 40px;
    fill: white;
  }

  .guide_two {
    left: 115px;
    top: 90px;
  }

  .case {
    left: 115px;
    top: 120px;
  }

  .case_one {
    left: 43px;
    top: 130px;
  }

  .case_two {

    left: 15px;
    top: 190px;
    font-size: 20px;
  }

  .farther {
    left: 40px;
    top: 230px;
  }

  .farther_one {
    left: 115px;
    top: 240px;
  }

  .beyond {
    left: 40px;
    top: 295px;
  }

  .beyond_one {
    left: 110px;
    top: 300px;
  }

  .outside {
    left: 39px;
    top: 360px;
  }

  .outside_one {
    left: 112px;
    top: 370px;
  }

  .outside_two {
    left: 41px;
    top: 430px;
  }

  .outside_tu_two {
    left: 115px;
    top: 435px;
  }

  .outside_vor {
    left: 37px;
    top: 485px;
  }

  .outside_to_vor {
    left: 113px;
    top: 495px;
  }

  .outside_free {
    left: 40px;
    top: 550px;
    fill: white;
  }

  .outside_to_free {
    left: 113px;
    top: 560px;
  }
}


@media screen and (min-width: 600px) and (max-width: 900px) {

  body {
    width: 890px;
    height: auto;
    margin-left: 2px;
  }

  header,
  main,
  footer {
    overflow-x: hidden;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/
  .logo_one {
    width: 130px;
    height: 130px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .mn {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 10px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 35px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 12px;
    left: -2%;
  }


  .line {
    display: none;

  }


  .about,
  .career,
  .price,
  .bell {
    float: left;
    margin-top: 80px;
    margin-bottom: 70px;
    position: relative;
  }


  .first_part,
  .second_part,
  .thirdes_part,
  .fifth_part_one {
    margin-left: 55px;
    margin-top: 50px;
  }

  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 70%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 70px;
  }


  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 70%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 88px;
  }

  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 70%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 85px;
  }

  .fifth_part_one::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 64%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part_one:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part_one:hover::after {
    width: 105px;
  }

  /*koniec-header*/
  /*opis-elektryk*/
  .opis {
    font-size: 35px;
    margin-left: -210px;
  }

  .opis_photo {
    margin-top: 70px;
    margin-left: 90px;
    width: 220px;
    height: 180px;
    border-radius: 4%;
    background-color: rgba(7, 70, 122, 0.219);
  }

  .opis_photo_one {
    border-radius: 4%;
    margin-top: -25px;
    margin-left: -15px;
    width: 220px;
    height: 180px;
  }


  .opis_one {
    position: relative;
    top: -150px;
    left: 350px;
  }

  .opis_sity {
    position: relative;
    font-size: 21px;
    top: -320px;
    left: 415px;
  }


  .opis_sity_one {
    position: relative;
    font-size: 21px;
    top: -330px;
    left: 415px;
  }


  .opis_two {
    position: relative;
    top: -320px;
    left: 350px;
  }

  .opis_sity_two {
    position: relative;
    font-size: 21px;
    top: -490px;
    left: 420px;
  }

  .opis_sity_twoi {
    position: relative;
    font-size: 21px;
    top: -500px;
    left: 420px;
  }

  /*koniec-opis-elektryka*/
  /*opis-vakata*/


  .appellation_one_ap {
    position: relative;
    font-size: 25px;
    top: -260px;
    left: 40px;
    margin-right: 250px;
  }

  .appellation_one {
    font-size: 25px;
    position: relative;
    top: -0px;
    left: 40px;
  }

  .way {
    margin-top: 20px;
  }


  .way_one {
    text-align: center;
    font-size: 35px;
    margin-right: 250px;
    margin-left: 50px;

  }

  /*koniec-opisc-vacata*/
  /*footer*/

  .info_mob {
    position: absolute;
  }

  .info {
    position: relative;
    top: -50px;
    left: 1px;
    width: 770px;
    height: 630px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 30px;
    padding-top: 5px;
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 120px;
    left: 60px;
    fill: white;
  }

  .guide_two {
    left: 175px;
    top: 130px;
    width: 400px;
    font-size: 30px;
  }

  .case {
    left: 180px;
    top: 160px;
    font-size: 30px;
  }

  .case_one {
    left: 65px;
    top: 250px;
  }

  .case_two {
    left: 180px;
    top: 260px;
    font-size: 28px;
  }

  .farther {
    left: 80px;
    top: 330px;
  }

  .farther_one {
    left: 180px;
    top: 345px;
  }

  .beyond {
    left: 430px;
    top: 330px;
  }

  .beyond_one {
    left: 500px;
    top: 340px;
  }

  .outside {
    left: 80px;
    top: 410px;
  }

  .outside_one {
    left: 170px;
    top: 420px;
  }

  .outside_two {
    left: 435px;
    top: 410px;
  }

  .outside_tu_two {
    left: 505px;
    top: 420px;
  }

  .outside_vor {
    left: 75px;
    top: 490px;
  }

  .outside_to_vor {
    left: 175px;
    top: 500px;
  }

  .outside_free {
    left: 430px;
    top: 500px;
    fill: white;
  }

  .outside_to_free {
    left: 510px;
    top: 500px;
  }

  /*koniev-footer*/


}

@media screen and (min-width: 900px) and (max-width:1300px) {


  body {
    width: 1290px;
    height: auto;
    margin-left: 1px;
    margin-right: 40px;
  }



  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/

  .logo_one {
    width: 110px;
    height: 110px;
    margin-left: 50px;
    margin-top: 5px;
    margin-right: 20px;
  }

  .mn {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
    bottom: 0px;
    height: 250px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 45px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 0px;
    left: 0%;
  }

  .line {
    border-bottom: 1px solid;
    color: rgb(0, 0, 0);
    width: 1200px;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: -10px;
  }

  .about,
  .career,
  .price,
  .bell {
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 140px;
    font-size: 30px;
  }


  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 81%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 70px;
  }

  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 80%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 99px;
  }



  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 81%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 90px;
  }

  .fifth_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 77%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part:hover::after {
    width: 120px;
  }

  /*footer*/
  .info {
    width: 1240px;
    height: 350px;
    margin-left: 5px;
  }

  .big_foot {
    padding-left: 70px;
  }

  .appellation_one_ap {
    margin-right: 650px;
  }

  .guide_one {
    left: 750px;
  }

  .guide_two {
    left: 820px;
    font-size: 23px;
  }

  .case {
    left: 70px;
    font-size: 25px;
  }

  .case_one {
    left: 250px;
  }

  .case_two {
    left: 310px;
    font-size: 25px;
  }

  .farther {
    left: 750px;
  }

  .farther_one {
    left: 830px;
  }

  .beyond {
    left: 960px;
  }

  .beyond_one {
    left: 1030px;
  }

  .outside_one {
    left: 830px;
  }

  .outside_two {
    left: 250px;
  }

  .outside {
    left: 750px;
  }

  .outside_tu_two {
    left: 320px;
  }

  .outside_vor {
    left: 480px;
    top: 235px;
  }

  .outside_to_vor {
    left: 560px;
  }

  .outside_free {
    left: 970px;
  }

  .outside_to_free {
    left: 1025px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1600px) {
  .logo_one {
    top: -15px;
    left: -15px;
  }

  .big {
    margin-left: 0%;
  }

  .about,
  .career,
  .price,
  .bell {
    margin-left: -40px;
  }

  .strip {
    margin-top: -55px;
  }

  .description {
    left: -100px
  }

  .big {
    font-size: 65px;
    margin-left: -12%;
    margin-top: -13px;
  }

  .logo_one {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 40px;
  }

  .opis {
    margin-left: -17%;
  }

  main {
    margin-left: 10px;
  }

  .way_one {
    margin-right: 200px;
  }

  /*footer*/
  .info {
    width: 1440px;
    height: 350px;
    margin-left: 5px;
  }

  .big_foot {
    padding-left: 90px;
  }

  .guide_one {
    left: 700px;
  }

  .guide_two {
    left: 770px;
    width: 250px;
    font-size: 28px;
  }

  .case {
    left: 90px;
    font-size: 27px;
  }

  .case_one {
    left: 290px;
  }

  .case_two {
    left: 340px;
    font-size: 23px;
  }

  .farther {
    left: 770px;
  }

  .farther_one {
    left: 850px;
  }

  .beyond {
    left: 980px;
  }

  .beyond_one {
    left: 1050px;
  }

  .outside_one {
    left: 850px;
  }

  .outside_two {
    left: 270px;
  }

  .outside {
    left: 770px;
  }

  .outside_tu_two {
    left: 340px;
  }

  .outside_vor {
    left: 490px;
    top: 240px;
  }

  .outside_to_vor {
    left: 560px;
  }

  .outside_free {
    left: 970px;
  }

  .outside_to_free {
    left: 1025px;
  }

}