 body {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  height: auto;
  overflow-x: hidden;
  background-color: #89898a07;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

/*header*/

.logo {
  position: absolute;
  top: 10px;
  left: 110px;
}

.logo_one {
  width: 110px;
  height: 110px;
}




.line {
  border-bottom: 2px solid;
  color: rgba(88, 88, 88, 0.479);
}

.big {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family: 'inherit';
  font-weight: bold;
  color: rgb(7, 70, 122);
  transition: all 1s;
  font-weight: bold;
  text-decoration: none;
}

.big_one {
  text-decoration: none;
}


.mn {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  margin-bottom: 15px;
}



.about,
.career,
.azja,
.price,
.bell {
  float: left;
  margin-top: 30px;
  margin-bottom: 15px;
  position: relative;
}



.first_part,
.second_part,
.azja_part,
.third_part,
.fifth_part,
.thirdes_part {
  margin-left: 140px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: all 1s;
  color: rgb(7, 70, 122);
}

.first_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 71%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.first_part:hover {
  color: rgb(0, 132, 255);
}

.first_part:hover::after {
  width: 160px;
}

.second_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 75%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.second_part:hover {
  color: rgb(0, 132, 255);
}

.second_part:hover::after {
  width: 135px;
}



.azja_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 70%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.azja_part:hover {
  color: rgb(0, 132, 255);
}

.azja_part:hover::after {
  width: 195px;
}


.thirdes_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 73%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.thirdes_part:hover {
  color: rgb(0, 132, 255);
}

.thirdes_part:hover::after {
  width: 160px;
}

.fifth_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 80%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.fifth_part:hover {
  color: rgb(0, 132, 255);
}

.fifth_part:hover::after {
  width: 100px;
}




/*koniec header*/


/*blok-bos*/

.photo {
  margin-left: 7%;
  width: 1400px;
  height: auto;
}

.job {
  position: relative;
  top: -975px;
  left: 10%;
  width: 350px;
  height: 200px;
  background-color: rgb(17, 63, 90);
}

.job_one {
  text-align: center;
  padding-top: 40px;
  color: white;
  font-size: 30px; 
}

.job_but {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 90px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.job_but:before,
.job_but:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.job_but:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.job_but:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.job_but:hover:before,
.job_but:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.job_but:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.job_but:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.job_but:hover {
  background: rgba(255, 255, 255, .2);
}

.informacja_PD {
  position: relative;
  top: -885px;
  left: 10%;
  width: 350px;
  height: 200px;
  background-color: rgb(17, 63, 90);
}

.PD_one {
  text-align: center;
  padding-top: 40px;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.PD_but {
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px;
  margin: 0px 0px 0px 60px;
  position: relative;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(247, 247, 248, 0.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.PD_but:before,
.PD_but:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.PD_but:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid rgb(248, 247, 250);
  border-top: 1px solid rgb(241, 242, 243);
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.PD_but:after {
  top: 0;
  right: 0;
  border-right: 1px solid rgb(245, 244, 248);
  border-bottom: 1px solid rgb(243, 243, 247);
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.PD_but:hover:before,
.PD_but:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.PD_but:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.PD_but:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.PD_but:hover {
  background: rgba(255, 255, 255, .2);
}

.bos {
  position: absolute;
}

.employee {
  position: relative;
  top: -770px;
  left: 45%;
  width: 350px;
  height: 200px;
  background-color: rgb(17, 63, 90);
}

.bos_one {
  text-align: center;
  padding-top: 30px;
  color: white;
  font-size: 30px;
}

.bos_but {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 110px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.bos_but:before,
.bos_but:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.bos_but:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.bos_but:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.bos_but:hover:before,
.bos_but:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.bos_but:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.bos_but:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.bos_but:hover {
  background: rgba(255, 255, 255, .2);
}

/*koniec blok boss*/
/*opis*/
.description {
  height: 600px;
  width: 1600px;
  position: absolute;
}








.count {
  position: relative;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #89898a;
  top: -350px;
  left: 110px;
  color: rgb(7, 70, 122);
}

.count_one{
  fill:  #89898a;
  margin-left: 30%;
  margin-top: 5%;
margin-bottom: -50px;
}


.count_two{
  font-weight: bold;
  font-size: 45px;
  margin-left: 110px;
}

.count_three{
  font-size: 25px;
  margin-left: 50px;
}




.quanity {
  position: relative;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #89898a;
  top: -655px;
  left: 470px;
  font-size: 25px;
  color: rgb(7, 70, 122);

}


.quanity_one{
  fill:  #89898a;
  margin-left: 33%;
  margin-top: 5%;
margin-bottom: -50px;
}

.quanity_two{
  font-weight: bold;
  font-size: 45px;
  margin-left: 100px;
}

.quanity_three{
  font-size: 25px;
  margin-left: 0px;
  margin-top:-10px;
  text-align: center;
}



.figure {
  position: relative;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #89898a;
  top: -960px;
  left: 835px;
  font-size: 25px;
  color: rgb(7, 70, 122);
}

.figure_one{
  fill:  #89898a;
  margin-left: 33%;
  margin-top: 5%;
  margin-bottom: -50px; 
}

.figure_two{
  font-weight: bold;
  font-size: 45px;
  margin-left: 100px; 
}
.figure_three{
  font-size: 25px;
  margin-top:-10px;
  text-align: center;
}


.nubr {
  position: relative;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #89898a;
  top: -1267px;
  left: 1200px;
  font-size: 25px;
  color: rgb(7, 70, 122);
}

.nubr_one{
  fill:  #89898a;
  margin-left: 33%;
  margin-top: 5%;
  margin-bottom: -50px; 
}

.nubr_two{
  font-weight: bold;
  font-size: 45px;
  margin-left: 100px; 
}

.nubr_three{
  font-size: 25px;
  margin-top:-10px;
  text-align: center;

}

/*koniec-opis*/

.zone{
  width: 1600px;
  height: 300px;
  background-color: rgba(58, 57, 57, 0.027);
  border-style: solid;
  border-color: #89898a;
}

.zone_one{
  text-align: center;
  color: rgb(7, 70, 122);
  font-size: 45px;
  padding-top: 15px;
}

.zone_two{
  text-align: center;
  color: rgb(7, 70, 122);
  font-size: 30px;
}

.zone_three {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 0px 545px;
  position: relative;
  color:  rgb(7, 70, 122);
  border: 1px solid  rgb(7, 70, 122);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 500px;
}

.zone_three:before,
.zone_three:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.zone_three:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid  rgb(7, 70, 122);
  border-top: 1px solid  rgb(7, 70, 122);
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.zone_three:after {
  top: 0;
  right: 0;
  border-right: 1px solid  rgb(7, 70, 122);
  border-bottom: 1px solid  rgb(7, 70, 122);
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.zone_three:hover:before,
.zone_three:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.zone_three:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.zone_three:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.zone_three:hover {
  background:  rgba(7, 70, 122, 0.096);
}












/*footer*/

.info {
  position: relative;
  width: 1600px;
  height: 350px;
  background-color: rgb(17, 63, 90);
  margin-top: 50px;
  overflow: hidden;
}


.big_foot {
  margin-top: -10px;
  padding-left: 180px;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  color: white;
  text-decoration: none;
}

.guide_one {
  position: absolute;
  top: 35px;
  left: 950px;
  fill: white;
}
.ad{
  width: 200px;
  position: absolute;
  top: 100px;
  left: 180px;
  color: white;
  font-size: 25px;
}

.guide_two {
  width: 200px;
  position: absolute;
  top: 170px;
  left: 180px;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.case {
  position: absolute;
  width: 250px;
  height: 0px;
  top: 120px;
  left: 180px;
  color: white;
  font-size: 25px;
}


.case_two {
  position: absolute;
  top: 210px;
  left: 180px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.farther {
  position: absolute;
  top: 45px;
  left: 1070px;
  fill: rgb(69, 126, 231);
}

.farther_one {
  position: absolute;
  top: 52px;
  left: 1120px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.beyond {
  position: absolute;
  top: 86px;
  left: 1070px;
}

.beyond_one {
  position: absolute;
  top: 93px;
  left: 1120px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.outside {
  position: absolute;
  top: 130px;
  left: 1073px;
}

.outside_one {
  position: absolute;
  top: 135px;
  left: 1123px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.outside_two {
  position: absolute;
  top: 155px;
  left: 1055px;
  fill: white;
}

.outside_tu_two {
  position: absolute;
  top: 180px;
  left: 1125px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}


.outside_free {
  position: absolute;
  top: 260px;
  left: 1080px;
  fill: rgb(10, 9, 9);fill: white;
}

.outside_to_free {
  position: absolute;
  top: 260px;
  left: 1127px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.outside_vor {
  position: absolute;
  top: 212px;
  left: 1070px;
  fill: rgb(240, 235, 241);
}

.outside_to_vor {
  position: absolute;
  top: 220px;
  left: 1125px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}


.social{
  position: relative;
  top:-63px;
  left:870px;

}

.social_one{
color: white;
font-size: 30px;
}


/*koniec-footer*/



                    
                    
            
                  

                  
                    
                 
















/*mob-1300-1600*/


@media screen and (min-width: 1300px) and (max-width: 1600px) {


  .logo_one {
    top: -15px;
    left: -15px;
  }

  .big {
    margin-left: -8%;
  }

  .about,
  .career,
  .azja,
  .price,
  .bell {
    margin-left: -20px;
  }

  .photo {
    margin-left: 2%;



  }



  .description {
    left: -100px
  }

  /*footer*/
  .info {
    width: 1440px;
    height: 350px;
    margin-left: 5px;
  }

  .big_foot {
    padding-left: 90px;
  }

  .guide_one {
    left: 800px;
  }

  .guide_two {
    left: 870px;
    font-size: 28px;
  }


  .case {
    left: 90px;
    font-size: 27px;
  }

  .case_one {
    left: 270px;
  }

  .case_two {
    left: 340px;
  }


  .farther {
    left: 770px;
  }


  .farther_one {
    left: 850px;
  }

  .beyond {
    left: 980px;
  }



  .beyond_one {
    left: 1050px;
  }



  .outside_one {

    left: 850px;
  }

  .outside_two {
    left: 270px;
  }


  .outside {
    left: 770px;
  }



  .outside_tu_two {

    left: 340px;

  }

  .outside_vor {
    left: 490px;
    top: 240px;
  }


  .outside_to_vor {

    left: 560px;

  }


  .outside_free {
    left: 970px;
  }

  .outside_to_free {
    left: 1025px;
  }



}






@media screen and (min-width: 900px) and (max-width:1300px) {


  body {
    width: 1290px;
    height: auto;
    margin-left: 1px;
    margin-right: 40px;
  }



  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/

  .logo_one {
    width: 130px;
    height: 130px;
    margin-left: 50px;
    margin-top: 5px;
    margin-right: 20px;
  }

  .mn {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
    bottom: 0px;
    height: 250px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 45px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 0px;
    left: 0%;
  }

  .line {
    border-bottom: 1px solid;
    color: rgb(0, 0, 0);
    width: 1200px;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: -10px;
  }



  .about,
  .career,
  .azja,
  .price,
  .bell {
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
  }



  .photo {
    margin-top: 550px;
    margin-left: 0px;
    margin-right: 20px;
    height: 500px;
    width: 770px;
  }


  .job {
    margin-left: -2%;
    width: 250px;
    height: 250px;
    margin-top: 70px;
  }

  .job_but {

    padding: 20px 30px;
    margin: 40px 50px;

  }

  .bos_but {
    padding: 20px 30px;
    margin: 3% 60px;
  }

  .PD_one {
    font-size: 27px;
  }

  .PD_but {

    padding: 10px 20px;
    margin: 35px 10px 0px 15px;
  }



  .informacja_PD {
    margin-left: 2%;
    top: -1250px;
    width: 250px;
    height: 250px;
  }

  .employee {
    margin-left: 15px;
    width: 250px;
    height: 250px;
    top: -1210px;
  }

  .description {
    display: none;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 140px;
    font-size: 30px;
  }

  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 79%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 60px;
  }


  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 75%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 78px;
  }

  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 77%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 75px;
  }

  .fifth_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 74%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part:hover::after {
    width: 95px;
  }

  /*koniec-header*/




  /*blok-boss*/


  .job {
    left: 11%;
    width: 400px;
    height: 250px;
  }

  .job_one {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 33px;
  }

  .job_but {
    padding: 20px 40px;
    margin: 30px 95px;
    font-size: 17px;
  }

  .PD_but {

    padding: 30px 20px;
    margin: 20px 0px 0px 80px;
  }

  .PD_one {
    font-size: 33px;
  }

  .informacja_PD {
    left: 53%;
    width: 400px;
    height: 250px;
    top: -1250px;
  }

  .employee {
    left: 400px;
    top: -1150px;
    width: 400px;
    height: 250px;
  }

  .bos_one {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    color: white;
  }

  .bos_but {
    padding: 20px 30px;
    margin: 30px 135px;
  }

  /*koniec-blok-boss*/


  .description {
    display: none;
  }

  main {
    margin-bottom: -790px;
  }

  .photo {
    width: 1200px;
    height: 600px;
    margin-left: 25px;
  }



  /*footer*/
  .info {
    width: 1240px;
    height: 350px;
    margin-left: 5px;
  }

  .big_foot {
    padding-left: 70px;
  }

  .guide_one {
    left: 750px;
  }

  .guide_two {
    left: 820px;
    font-size: 28px;
  }


  .case {
    left: 70px;
    font-size: 27px;
  }

  .case_one {
    left: 250px;
  }

  .case_two {
    left: 320px;
  }


  .farther {
    left: 750px;
  }


  .farther_one {
    left: 830px;
  }

  .beyond {
    left: 960px;
  }



  .beyond_one {
    left: 1030px;
  }



  .outside_one {

    left: 830px;
  }

  .outside_two {
    left: 250px;
  }


  .outside {
    left: 750px;
  }



  .outside_tu_two {

    left: 320px;

  }

  .outside_vor {
    left: 480px;
    top: 235px;
  }


  .outside_to_vor {

    left: 560px;

  }


  .outside_free {
    left: 970px;
  }

  .outside_to_free {
    left: 1025px;
  }






}

@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    width: 880px;
    height: auto;
    margin-left: 1px;
    margin-right: 40px;
  }

  header,
  main,
  footer {
    overflow-x: hidden;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/

  .logo_one {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 20px;
  }

  .mn {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 10px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 39px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 15px;
    left: -0%;
  }

  .line {
    border-bottom: 1px solid;
    color: rgb(0, 0, 0);
    width: 730px;
    margin-top: 75px;
    margin-left: 30px;

  }


  .about,
  .career,
  .azja,
  .price,
  .bell {
    float: left;
    margin-top: 80px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
  }



  .photo {
    margin-top: 550px;
    margin-left: 16px;
    margin-right: 20px;
    height: 500px;
    width: 770px;
  }


  .job {
    margin-left: -2%;
    width: 250px;
    height: 250px;
    margin-top: 70px;
  }

  .job_but {

    padding: 20px 30px;
    margin: 40px 50px;

  }

  .bos_but {
    padding: 20px 30px;
    margin: 3% 60px;
  }

  .PD_one {
    font-size: 27px;
  }

  .PD_but {

    padding: 10px 20px;
    margin: 35px 10px 0px 15px;
  }



  .informacja_PD {
    margin-left: 2%;
    top: -1250px;
    width: 250px;
    height: 250px;
  }

  .employee {
    margin-left: 15px;
    width: 250px;
    height: 250px;
    top: -1210px;
  }

  .description {
    display: none;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 87px;
    font-size: 25px;
  }

  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 79%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 60px;
  }


  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 75%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 78px;
  }

  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 77%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 75px;
  }

  .fifth_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 74%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part:hover::after {
    width: 95px;
  }

  /*koniec-header*/

  /*blok-boss*/


  .job {
    left: 5%;
    width: 300px;
    height: 200px;
  }

  .job_one {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 30px;
  }

  .job_but {
    padding: 20px 40px;
    margin: 10px 55px;
    font-size: 17px;
  }

  .PD_but {

    padding: 30px 20px;
    margin: 5px 0px 20px 30px;
  }

  .informacja_PD {
    left: 48%;
    width: 300px;
    height: 200px;
    top: -1200px;
  }

  .employee {
    left: 220px;
    top: -1150px;
    width: 300px;
    height: 200px;
  }

  .bos_one {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    color: white;
  }

  .bos_but {
    padding: 20px 30px;
    margin: 0px 85px;
  }

  /*koniec-blok-boss*/
  /*footer*/
  .info_mob {
    position: absolute;
    height: 0px;
  }

  .info {
    position: relative;
    top: -800px;
    left: 15px;
    right: 10px;
    width: 770px;
    height: 630px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 30px;
    padding-top: 5px;
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 120px;
    left: 60px;
    fill: white;
  }

  .guide_two {
    left: 175px;
    top: 130px;
    width: 400px;
    font-size: 30px;
  }

  .case {
    left: 180px;
    top: 160px;
    font-size: 30px;
  }

  .case_one {
    left: 65px;
    top: 250px;
  }

  .case_two {
    left: 180px;
    top: 260px;
    font-size: 28px;
  }

  .farther {
    left: 80px;
    top: 330px;
  }

  .farther_one {
    left: 180px;
    top: 345px;
  }

  .beyond {
    left: 430px;
    top: 330px;
  }

  .beyond_one {
    left: 500px;
    top: 340px;
  }

  .outside {
    left: 80px;
    top: 410px;
  }

  .outside_one {
    left: 170px;
    top: 420px;
  }

  .outside_two {
    left: 435px;
    top: 410px;
  }

  .outside_tu_two {
    left: 505px;
    top: 420px;
  }

  .outside_vor {
    left: 75px;
    top: 490px;
  }

  .outside_to_vor {
    left: 175px;
    top: 500px;
  }

  .outside_free {
    left: 430px;
    top: 500px;
    fill: white;
  }

  .outside_to_free {
    left: 510px;
    top: 500px;
  }


  /*koniec-footer*/

}

/*mob-400-600*/
@media screen and (min-width: 400px) and (max-width: 600px) {

  body {
    width: 590px;
    height: auto;
    margin-left: 1%;
    margin-right: auto;
  }


  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/

  .logo_one {
    width: 90px;
    height: 90px;
    margin-left: -10px;
    margin-top: 5px;
  }


  .mn {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
    margin-bottom: 10px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 23px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 7px;
    left: -10%;
  }

  .line {
    display: none;
  }

  .about,
  .career,
  .azja,
  .price,
  .bell {
    margin-left: -5px;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 30px;
    font-size: 23px;
  }

  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 68%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 60px;
  }

  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 83px;
  }

  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 75px;
  }


  .fifth_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part:hover::after {
    width: 95px;
  }

  /*koniec-header*/

  /*blok-boss*/

  .photo {
    margin-top: 570px;
    margin-left: 0px;
    height: 350px;
    width: 405px;
  }


  .job {
    left: 1%;
    width: 400px;
    height: 200px;
  }

  .job_one {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 30px;
  }

  .job_but {
    padding: 20px 40px;
    margin: 10px 100px;
    font-size: 17px;
  }

  .PD_but {

    padding: 20px 20px;
    margin: 5px 0px 20px 85px;
  }

  .informacja_PD {
    left: 1%;
    width: 400px;
    height: 200px;
    top: -950px;
  }

  .employee {
    left: 1%;
    top: -920px;
    width: 400px;
    height: 200px;
  }

  .bos_one {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    color: white;
  }

  .bos_but {
    padding: 20px 30px;
    margin: 0px 135px;
  }

  .description {
    display: none;
  }

  /*koniec-blok-boss
  /*footer*/

  .info_mob {
    position: absolute;
    height: 300px;
  }

  .info {
    position: relative;
    top: -680px;
    left: 0%;
    width: 405px;
    height: 650px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 30px;
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 80px;
    left: 40px;
    fill: white;
  }

  .guide_two {
    left: 115px;
    top: 90px;
  }

  .case {
    left: 115px;
    top: 120px;
  }

  .case_one {
    left: 43px;
    top: 130px;
  }

  .case_two {
    left: 20px;
    top: 190px;
    font-size: 23px;
  }

  .farther {
    left: 40px;
    top: 230px;
  }

  .farther_one {
    left: 115px;
    top: 240px;
  }

  .beyond {
    left: 40px;
    top: 295px;
  }

  .beyond_one {
    left: 110px;
    top: 300px;
  }

  .outside {
    left: 39px;
    top: 360px;
  }

  .outside_one {
    left: 112px;
    top: 370px;
  }

  .outside_two {
    left: 41px;
    top: 430px;
  }

  .outside_tu_two {
    left: 115px;
    top: 435px;
  }

  .outside_vor {
    left: 37px;
    top: 485px;
  }

  .outside_to_vor {
    left: 113px;
    top: 495px;
  }

  .outside_free {
    left: 40px;
    top: 550px;
    fill: white;
  }

  .outside_to_free {
    left: 113px;
    top: 560px;
  }

  /*koniec-footer*/
}

/*mob-200-400*/
@media screen and (min-width: 200px) and (max-width: 400px) {
  body {
    width: 399px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }


  header,
  main,
  footer {
    overflow-x: hidden;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/
  .logo_one {
    width: 80px;
    height: 80px;
    margin-left: 0px;
    margin-top: 5px;
  }

  .mn {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 10px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 21px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 3px;
    left: 3%;
  }

  .line {
    display: none;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 20px;
    font-size: 20px;
  }




  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 68%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 50px;
  }


  .fifth_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part:hover::after {
    width: 70px;
  }


  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 63px;
  }



  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 60px;
  }

  /*koniec-header*/
  /*blok-boss*/

  .photo {
    margin-top: 550px;
    margin-left: 3px;
    height: 400px;
    width: 370px;
  }

  .job {
    left: 4%;
  }

  .informacja_PD {
    left: 4%;
    top: -950px;
  }

  .employee {
    left: 11px;
    top: -910px;
  }

  /*koniec-blok-boss*/
  .description {
    display: none;
  }


  /*footer*/

  .info_mob {
    position: absolute;
    height: 250px;
  }

  .info {
    position: relative;
    top: -680px;
    left: 0%;
    width: 380px;
    height: 650px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 25px;
    padding-top: 15px;
    margin-left: -15px;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 80px;
    left: 30px;
    fill: white;
  }

  .guide_two {
    left: 105px;
    top: 90px;
  }

  .case {
    left: 115px;
    top: 120px;
  }

  .case_one {
    left: 33px;
    top: 130px;
  }

  .case_two {
    left: 10px;
    top: 190px;
    font-size: 19px;
  }

  .farther {
    left: 40px;
    top: 230px;
  }

  .farther_one {
    left: 115px;
    top: 240px;
  }

  .beyond {
    left: 40px;
    top: 295px;
  }

  .beyond_one {
    left: 110px;
    top: 300px;
  }

  .outside {
    left: 39px;
    top: 360px;
  }

  .outside_one {
    left: 112px;
    top: 370px;
  }

  .outside_two {
    left: 41px;
    top: 430px;
  }

  .outside_tu_two {
    left: 115px;
    top: 435px;
  }

  .outside_vor {
    left: 37px;
    top: 485px;
  }

  .outside_to_vor {
    left: 113px;
    top: 495px;
  }

  .outside_free {
    left: 40px;
    top: 550px;
    fill: white;
  }

  .outside_to_free {
    left: 113px;
    top: 560px;
  }


}