body {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  height: auto;
  overflow-x: hidden;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

/*header*/

.logo {
  position: absolute;
  top: -15px;
  left: 0;
}

.logo_one {
  width: 200px;
  height: 200px;
}




.line {
  border-bottom: 2px solid;
  color: rgb(0, 0, 0);
}

.big {
  position: relative;
  text-align: center;
  font-size: 75px;
  font-family: 'inherit';
  font-weight: bold;
  color: rgb(7, 70, 122);
  transition: all 1s;
  font-weight: bold;
  text-decoration: none;
}

.big_one {
  text-decoration: none;
}


.mn {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  margin-bottom: 15px;
}



.about,
.career,
.price,
.bell {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}



.first_part,
.second_part,
.third_part,
.fifth_part,
.thirdes_part {
  margin-left: 230px;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: all 1s;
}

.first_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 88%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.first_part:hover {
  color: rgb(0, 132, 255);
}

.first_part:hover::after {
  width: 70px;
}

.second_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 85%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.second_part:hover {
  color: rgb(0, 132, 255);
}

.second_part:hover::after {
  width: 99px;
}



.thirdes_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 87%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.thirdes_part:hover {
  color: rgb(0, 132, 255);
}

.thirdes_part:hover::after {
  width: 90px;
}

.fifth_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 83%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.fifth_part:hover {
  color: rgb(0, 132, 255);
}

.fifth_part:hover::after {
  width: 120px;
}


.fifth_part {

  margin-left: 228px;
  text-decoration: none;
  color: black;
  font-size: large;
  font-size: 30px;
}


/*koniec heder*/






/*blok-bos*/

.photo {
  margin-left: 7%;
  width: 1400px;
  height: auto;
}

.job {
  position: relative;
  top: -975px;
  left: 10%;
  width: 350px;
  height: 200px;
  background-color: rgb(17, 63, 90);
}

.job_one {
  text-align: center;
  padding-top: 40px;
  color: white;
}

.job_but {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 90px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.job_but:before,
.job_but:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.job_but:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.job_but:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.job_but:hover:before,
.job_but:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.job_but:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.job_but:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.job_but:hover {
  background: rgba(255, 255, 255, .2);
}

.informacja_PD {
  position: relative;
  top: -885px;
  left: 10%;
  width: 350px;
  height: 200px;
  background-color: rgb(17, 63, 90);
}

.PD_one {
  text-align: center;
  padding-top: 40px;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.PD_but {
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px;
  margin: 0px 0px 0px 60px;
  position: relative;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(247, 247, 248, 0.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.PD_but:before,
.PD_but:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.PD_but:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid rgb(248, 247, 250);
  border-top: 1px solid rgb(241, 242, 243);
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.PD_but:after {
  top: 0;
  right: 0;
  border-right: 1px solid rgb(245, 244, 248);
  border-bottom: 1px solid rgb(243, 243, 247);
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.PD_but:hover:before,
.PD_but:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.PD_but:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.PD_but:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.PD_but:hover {
  background: rgba(255, 255, 255, .2);
}

.bos {
  position: absolute;
}

.employee {
  position: relative;
  top: -770px;
  left: 45%;
  width: 350px;
  height: 200px;
  background-color: rgb(17, 63, 90);
}

.bos_one {
  text-align: center;
  padding-top: 30px;
  color: white;
}

.bos_but {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 110px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.bos_but:before,
.bos_but:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.bos_but:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.bos_but:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.bos_but:hover:before,
.bos_but:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.bos_but:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.bos_but:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.bos_but:hover {
  background: rgba(255, 255, 255, .2);
}

/*koniec blok boss*/
/*opis*/
.description {
  height: 600px;
  width: 1600px;
  position: absolute;
}

.digit {
  position: relative;
  top: -300px;
  left: 50px;
  margin-left: 200px;
}

.digit_one {
  font-size: 30px;
  color: rgb(7, 70, 122);
}

.digit_two {
  font-size: 70px;
  color: rgb(7, 70, 122);
}

.line_digit {
  width: 2px;
  height: 450px;
  background-color: rgb(7, 70, 122);
  position: relative;
  top: -670px;
  left: 650px;

}

.digit_free {
  font-size: 35px;
  color: rgb(7, 70, 122);
  transition: all 1s;
}

.count {
  position: relative;
  top: -1150px;
  left: 750px;
  font-size: 25px;
  color: rgb(7, 70, 122);
}

.count_line {
  width: 630px;
  height: 2px;
  position: relative;
  top: -1150px;
  left: 705px;
  background-color: rgb(7, 70, 122)
}


.quanity {
  position: relative;
  top: -1150px;
  left: 750px;
  font-size: 25px;
  color: rgb(7, 70, 122);

}

.figure {
  position: relative;
  top: -2050px;
  left: 1100px;
  font-size: 25px;
  color: rgb(7, 70, 122);
}

.figure_line {
  width: 2px;
  height: 450px;
  position: relative;
  top: -1580px;
  left: 1050px;
  background-color: rgb(7, 70, 122)
}

.nubr {
  position: relative;
  top: -2030px;
  left: 1100px;
  font-size: 25px;
  color: rgb(7, 70, 122);
}

/*koniec-opis*/
/*footer*/

.info {
  position: relative;
  width: 1600px;
  height: 350px;
  background-color: rgb(17, 63, 90);
  margin-top: 250px;
  overflow: hidden;
}


.big_foot {
  margin-top: -10px;
  padding-left: 180px;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  color: white;
  text-decoration: none;
}

.guide_one {
  position: absolute;
  top: 35px;
  left: 950px;
  fill: white;
}

.guide_two {
  width: 200px;
  position: absolute;
  top: 45px;
  left: 1020px;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.case {
  position: absolute;
  width: 250px;
  height: 0px;
  top: 120px;
  left: 180px;
  color: white;
  font-size: 25px;
}

.case_one {
  position: absolute;
  top: 135px;
  left: 400px;
  fill: rgb(255, 255, 255);
}

.case_two {
  position: absolute;
  top: 147px;
  left: 480px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.farther {
  position: absolute;
  top: 135px;
  left: 950px;
  fill: rgb(69, 126, 231);
}

.farther_one {
  position: absolute;
  top: 145px;
  left: 1030px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.beyond {
  position: absolute;
  top: 135px;
  left: 1180px;
}

.beyond_one {
  position: absolute;
  top: 145px;
  left: 1260px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.outside {
  position: absolute;
  top: 240px;
  left: 950px;
}

.outside_one {
  position: absolute;
  top: 250px;
  left: 1030px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.outside_two {
  position: absolute;
  top: 250px;
  left: 400px;
  fill: white;
}

.outside_tu_two {
  position: absolute;
  top: 260px;
  left: 480px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}


.outside_free {
  position: absolute;
  top: 240px;
  left: 1180px;
  fill: rgb(10, 9, 9);
}

.outside_to_free {
  position: absolute;
  top: 250px;
  left: 1255px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.outside_vor {
  position: absolute;
  top: 245px;
  left: 650px;
  fill: rgb(240, 235, 241);
}

.outside_to_vor {
  position: absolute;
  top: 260px;
  left: 720px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}


/*koniec-footer*/

/*mob-1300-1600*/

@media screen and (min-width: 1300px) and (max-width: 1600px) {
  body {
    width: 1550px;
    height: auto;
    margin-left: 20px;
  }
}

/*mob-900-1300*/

@media screen and (min-width: 900px) and (max-width: 1300px) {

  body {
    width: 1250px;
    height: auto;
    margin-left: -5px;
  }

  header,
  main,
  footer {
    overflow-x: hidden;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/

  .logo_one {
    width: 210px;
    height: 210px;
    margin-left: 55px;
    margin: 10px;
  }

  .big {
    font-size: 65px;
    margin-left: 180px;
    margin-top: 80px;
  }


  .line {
    border-bottom: 1px solid;
    color: rgb(0, 0, 0);
    width: 1165px;
    margin-top: 60px;
    margin-left: 35px;
  }

  .about,
  .career,
  .price,
  .bell {
    float: left;
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 130px;
    font-size: 45px;
  }

  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 77%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 100px;
  }

  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 73%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 70%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part:hover::after {
    width: 165px;
  }

  .second_part:hover::after {
    width: 154px;
  }

  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 75%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 135px;
  }

  /*koniec-header*/

  /*blok-boss*/

  .photo {
    margin-left: 0%;
    width: 1250px;
    height: auto;
  }


  .job {
    position: relative;
    top: -810px;
    left: 10%;
    width: 450px;
    height: 300px;
    background-color: rgb(17, 63, 90);
  }

  .job_one {
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
    color: white;
  }

  .job_but {
    padding: 30px 30px;
    margin: 10px 120px;
    font-size: 20px;
  }

  .informacja_PD {
    left: 50%;
    width: 450px;
    height: 300px;
    top: -1147px;
  }

  .employee {
    left: 370px;
    width: 450px;
    height: 300px;
    top: -1080px;
  }

  .PD_one {
    font-size: 45px;
  }

  .bos_one {
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
    color: white;

  }

  .PD_but {

    padding: 40px 40px;
    margin: 20px 0px 0px 80px;
  }

  .bos_but {
    padding: 40px 40px;
    margin: 20px 0px 0px 150px;
  }

  /*koniec-blok-boss*/

  /*opis*/

  .description {
    height: 600px;
    width: 1250px;
    position: absolute;
  }

  .digit {
    position: relative;
    top: -550px;
    margin-left: 15px;
  }

  .digit_one {
    font-size: 28px;
    color: rgb(7, 70, 122);
  }

  .digit_two {
    font-size: 60px;
    color: rgb(7, 70, 122);
  }

  .digit_free {
    font-size: 32px;
    color: rgb(7, 70, 122);
  }

  .line_digit {
    width: 2px;
    height: 430px;
    background-color: rgb(7, 70, 122);
    position: relative;
    top: -860px;
    left: 450px;

  }



  .count {
    position: relative;
    top: -1300px;
    left: 480px;
    font-size: 23px;
    color: rgb(7, 70, 122);
  }


  .count_line {
    width: 630px;
    height: 2px;
    position: relative;
    top: -1300px;
    left: 405px;
    background-color: rgb(7, 70, 122)
  }


  .quanity {
    position: relative;
    top: -1300px;
    left: 480px;
    font-size: 23px;
    color: rgb(7, 70, 122);

  }

  .figure_line {
    width: 2px;
    height: 430px;
    position: relative;
    top: -1730px;
    left: 750px;
    background-color: rgb(7, 70, 122)
  }

  .figure {
    position: relative;
    top: -2170px;
    left: 800px;
    font-size: 23px;
    color: rgb(7, 70, 122);
  }

  .nubr {
    position: relative;
    top: -2130px;
    left: 800px;
    font-size: 23px;
    color: rgb(7, 70, 122);
  }

  /*koniec-opis*/

  /*footer*/

  .info {
    position: relative;
    width: 1290px;
    height: 350px;
    background-color: rgb(17, 63, 90);
    margin-top: 0px;
    overflow: hidden;
  }


  .big_foot {
    margin-top: -10px;
    padding-left: 50px;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    color: white;
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 35px;
    left: 650px;
    fill: white;
  }

  .guide_two {
    width: 200px;
    position: absolute;
    top: 45px;
    left: 720px;
    color: white;
    font-size: 28px;
    text-decoration: none;
  }


  .case {
    position: absolute;
    width: 250px;
    height: 0px;
    top: 80px;
    left: 50px;
    color: white;
    font-size: 25px;
  }

  .case_one {
    position: absolute;
    top: 90px;
    left: 650px;
    fill: rgb(255, 255, 255);
  }

  .case_two {
    position: absolute;
    top: 100px;
    left: 720px;
    font-size: 28px;
    color: white;
    text-decoration: none;
  }

  .farther {
    position: absolute;
    top: 165px;
    left: 50px;
    fill: rgb(69, 126, 231);
  }

  .farther_one {
    position: absolute;
    top: 175px;
    left: 130px;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }

  .beyond {
    position: absolute;
    top: 170px;
    left: 380px;
  }


  .beyond_one {
    position: absolute;
    top: 175px;
    left: 450px;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }

  .outside {
    position: absolute;
    top: 240px;
    left: 50px;
  }

  .outside_one {
    position: absolute;
    top: 250px;
    left: 125px;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }

  .outside_two {
    position: absolute;
    top: 250px;
    left: 385px;
    fill: white;
  }

  .outside_tu_two {
    position: absolute;
    top: 260px;
    left: 455px;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }

  .outside_vor {
    position: absolute;
    top: 238px;
    left: 630px;
    fill: rgb(240, 235, 241);
  }

  .outside_to_vor {
    position: absolute;
    top: 260px;
    left: 715px;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }

  .outside_to_vor {
    position: absolute;
    top: 260px;
    left: 720px;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }

  .outside_free {
    left: 645px;
    top: 170px;
    fill: white;
  }

  .outside_to_free {
    left: 730px;
    top: 190px;
    font-size: 30px;
  }

}

/*koniec-footer*/

/*mob-600-900*/


@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    width: 880px;
    height: auto;
    margin-left: -1px;
  }

  header,
  main,
  footer {
    overflow-x: hidden;
    background-color: blue;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/

  .logo_one {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .mn {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 10px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 39px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 15px;
    left: -0%;
  }

  .line {
    border-bottom: 1px solid;
    color: rgb(0, 0, 0);
    width: 770px;
    margin-top: 75px;
    margin-left: 30px;

  }


  .about,
  .career,
  .price,
  .bell {
    float: left;
    margin-top: 80px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 10px;
  }



  .photo {
    margin-top: 550px;
    margin-left: 0px;
    height: 500px;
    width: 800px;
  }


  .job {
    margin-left: 0%;
    width: 250px;
    height: 250px;
    margin-top: 70px;
  }

  .job_but {

    padding: 20px 30px;
    margin: 40px 50px;

  }

  .bos_but {
    padding: 20px 30px;
    margin: 3% 60px;
  }

  .PD_one {
    font-size: 27px;
  }

  .PD_but {

    padding: 10px 20px;
    margin: 35px 10px 0px 15px;
  }



  .informacja_PD {
    margin-left: 4%;
    top: -1250px;
    width: 250px;
    height: 250px;
  }

  .employee {
    margin-left: 30px;
    width: 250px;
    height: 250px;
    top: -1210px;
  }

  .description {
    display: none;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 87px;
    font-size: 25px;
  }

  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 79%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 60px;
  }


  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 75%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 78px;
  }

  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 77%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 75px;
  }

  .fifth_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 74%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part:hover::after {
    width: 95px;
  }

  /*koniec-header*/

  /*blok-boss*/


  .job {
    left: 5%;
    width: 300px;
    height: 200px;
  }

  .job_one {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 30px;
  }

  .job_but {
    padding: 20px 40px;
    margin: 10px 55px;
    font-size: 17px;
  }

  .PD_but {

    padding: 30px 20px;
    margin: 5px 0px 20px 30px;
  }

  .informacja_PD {
    left: 48%;
    width: 300px;
    height: 200px;
    top: -1200px;
  }

  .employee {
    left: 220px;
    top: -1150px;
    width: 300px;
    height: 200px;
  }

  .bos_one {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    color: white;
  }

  .bos_but {
    padding: 20px 30px;
    margin: 0px 85px;
  }

  /*koniec-blok-boss*/
  /*footer*/

  .info_mob {
    position: absolute;
  }

  .info {
    position: relative;
    top: -900px;
    left: 5px;
    width: 790px;
    height: 530px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 90px;
    padding-top: 15px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 80px;
    left: 80px;
    fill: white;
  }

  .guide_two {
    left: 175px;
    top: 90px;
  }

  .case {
    left: 180px;
    top: 120px;
  }

  .case_one {
    left: 85px;
    top: 130px;
  }

  .case_two {
    left: 80px;
    top: 200px;
    font-size: 26px;
  }

  .farther {
    left: 80px;
    top: 240px;
  }

  .farther_one {
    left: 180px;
    top: 250px;
  }

  .beyond {
    left: 300px;
    top: 245px;
  }

  .beyond_one {
    left: 380px;
    top: 255px;
  }

  .outside {
    left: 80px;
    top: 320px;
  }

  .outside_one {
    left: 170px;
    top: 330px;
  }

  .outside_two {
    left: 300px;
    top: 320px;
  }

  .outside_tu_two {
    left: 370px;
    top: 330px;
  }

  .outside_vor {
    left: 75px;
    top: 405px;
  }

  .outside_to_vor {
    left: 170px;
    top: 420px;
  }

  .outside_free {
    left: 300px;
    top: 405px;
    fill: white;
  }

  .outside_to_free {
    left: 373px;
    top: 420px;
  }

  /*koniec-footer*/

}

/*mob-400-600*/
@media screen and (min-width: 400px) and (max-width: 600px) {

  body {
    width: 590px;
    height: auto;
    margin-left: -5px;
  }

  header,
  main,
  footer {
    overflow-x: hidden;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/

  .logo_one {
    width: 105px;
    height: 105px;
    margin-left: 0px;
    margin-top: 5px;
  }

  .mn {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 10px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 7px;
    left: 2%;
  }

  .line {
    display: none;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 35px;
    font-size: 28px;
  }

  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 68%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 60px;
  }

  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 83px;
  }

  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 75px;
  }


  .fifth_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part:hover::after {
    width: 95px;
  }

  /*koniec-header*/

  /*blok-boss*/

  .photo {
    margin-top: 570px;
    margin-left: 20px;
    height: 400px;
    width: 510px;
  }


  .job {
    left: 7%;
    width: 450px;
    height: 200px;
  }

  .job_one {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-size: 30px;
  }

  .job_but {
    padding: 20px 40px;
    margin: 10px 125px;
    font-size: 17px;
  }

  .PD_but {

    padding: 30px 20px;
    margin: 5px 0px 20px 110px;
  }

  .informacja_PD {
    left: 7%;
    width: 450px;
    height: 200px;
    top: -950px;
  }

  .employee {
    left: 9%;
    top: -920px;
    width: 450px;
    height: 200px;
  }

  .bos_one {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    color: white;
  }

  .bos_but {
    padding: 20px 30px;
    margin: 0px 155px;
  }

  .description {
    display: none;
  }

  /*koniec-blok-boss
  /*footer*/

  .info_mob {
    position: absolute;
    height: 300px;
  }

  .info {
    position: relative;
    top: -680px;
    left: 4%;
    width: 510px;
    height: 650px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 30px;
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 80px;
    left: 40px;
    fill: white;
  }

  .guide_two {
    left: 115px;
    top: 90px;
  }

  .case {
    left: 115px;
    top: 120px;
  }

  .case_one {
    left: 43px;
    top: 130px;
  }

  .case_two {
    left: 20px;
    top: 190px;
    font-size: 23px;
  }

  .farther {
    left: 40px;
    top: 230px;
  }

  .farther_one {
    left: 115px;
    top: 240px;
  }

  .beyond {
    left: 40px;
    top: 295px;
  }

  .beyond_one {
    left: 110px;
    top: 300px;
  }

  .outside {
    left: 39px;
    top: 360px;
  }

  .outside_one {
    left: 112px;
    top: 370px;
  }

  .outside_two {
    left: 41px;
    top: 430px;
  }

  .outside_tu_two {
    left: 115px;
    top: 435px;
  }

  .outside_vor {
    left: 37px;
    top: 485px;
  }

  .outside_to_vor {
    left: 113px;
    top: 495px;
  }

  .outside_free {
    left: 40px;
    top: 550px;
    fill: white;
  }

  .outside_to_free {
    left: 113px;
    top: 560px;
  }

  /*koniec-footer*/
}

/*mob-200-400*/
@media screen and (min-width: 200px) and (max-width: 400px) {
  body {
    width: 390px;
    margin-left: -5px;
  }


  header,
  main,
  footer {
    overflow-x: hidden;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  *header*/ .logo_one {
    width: 90px;
    height: 90px;
    margin-left: -5px;
    margin-top: 7px;
  }

  .mn {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 10px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 9px;
    left: 7%;
  }

  .line {
    display: none;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 25px;
    font-size: 20px;
  }




  .first_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 68%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .first_part:hover {
    color: rgb(0, 132, 255);
  }

  .first_part:hover::after {
    width: 50px;
  }


  .fifth_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .fifth_part:hover {
    color: rgb(0, 132, 255);
  }

  .fifth_part:hover::after {
    width: 70px;
  }


  .second_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 63%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .second_part:hover {
    color: rgb(0, 132, 255);
  }

  .second_part:hover::after {
    width: 63px;
  }



  .thirdes_part::after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }

  .thirdes_part:hover {
    color: rgb(0, 132, 255);
  }

  .thirdes_part:hover::after {
    width: 60px;
  }

  /*koniec-header*/
  /*blok-boss*/

  .photo {
    margin-top: 550px;
    margin-left: 5px;
    height: 400px;
    width: 380px;
  }

  .job {
    left: 4%;
  }

  .informacja_PD {
    left: 4%;
    top: -950px;
  }

  .employee {
    left: 17px;
    top: -910px;
  }

  /*koniec-blok-boss*/
  .description {
    display: none;
  }


  /*footer*/

  .info_mob {
    position: absolute;
    height: 250px;
  }

  .info {
    position: relative;
    top: -680px;
    left: 1%;
    width: 380px;
    height: 650px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 18px;
    padding-top: 15px;
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 80px;
    left: 30px;
    fill: white;
  }

  .guide_two {
    left: 105px;
    top: 90px;
  }

  .case {
    left: 115px;
    top: 120px;
  }

  .case_one {
    left: 33px;
    top: 130px;
  }

  .case_two {
    left: 10px;
    top: 190px;
    font-size: 23px;
  }

  .farther {
    left: 40px;
    top: 230px;
  }

  .farther_one {
    left: 115px;
    top: 240px;
  }

  .beyond {
    left: 40px;
    top: 295px;
  }

  .beyond_one {
    left: 110px;
    top: 300px;
  }

  .outside {
    left: 39px;
    top: 360px;
  }

  .outside_one {
    left: 112px;
    top: 370px;
  }

  .outside_two {
    left: 41px;
    top: 430px;
  }

  .outside_tu_two {
    left: 115px;
    top: 435px;
  }

  .outside_vor {
    left: 37px;
    top: 485px;
  }

  .outside_to_vor {
    left: 113px;
    top: 495px;
  }

  .outside_free {
    left: 40px;
    top: 550px;
    fill: white;
  }

  .outside_to_free {
    left: 113px;
    top: 560px;
  }

  /*koniec-footer*/





}