body{
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    overflow-x: hidden;
    font-family: Noto Sans, sans-serif;
     }
    
    header,
    main,
    footer{
    overflow: hidden;   
        
    }
    ul {
    padding-left: 0;
    }
    
    li {
    list-style-type: none;
    }
    
    
      
    
     /*header*/
    .big_one{
    text-align: center;
    font-size: 75px;
    font-family: 'Playfair Display', serif;
    color: rgb(7, 70, 122);
    font-weight: bold;
    text-decoration: none;
    
    }
    .big_logo{
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 15px;
    position: sticky;
    }
    
    
    .logo{
    position: absolute;
    top: -15px;
    left: 0;
    }
      
    
    
    .describe_one,.describe_two,.describe_free,.describe_for{
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    }
    
    
    
    
    .first_part,.second_part,.third_part,.fifth_part_one,.thirdes_part{
    margin-left: 230px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    
    }
    
    .first_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    border-radius: 20%;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 88%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .first_part:hover { color: rgb(9, 185, 255); }
    .first_part:hover::after { width: 70px; }
    
    .second_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    border-radius: 20%;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 85%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    .second_part:hover {  color: rgb(9, 185, 255); }
    .second_part:hover::after { width: 99px; }
    
    
    
    .thirdes_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    border-radius: 20%;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 87%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .thirdes_part:hover { color: rgb(9, 185, 255); }
    .thirdes_part:hover::after { width: 90px; }
    
    .fifth_part_one::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    border-radius: 20%;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 83%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .fifth_part_one:hover { color: rgb(9, 185, 255);}
    .fifth_part_one:hover::after { width: 120px; }
    
    
  
    
    .line{
    border-bottom: 2px solid;
    color: rgb(0, 0, 0);
    }
    
    
    
    /*koniec-header*/
    
    .vacancy{
      color: rgb(7, 70, 122);
      font-size: 55px;
      text-align: center;
      margin-bottom: 70px;
    margin-left: -30px;
    }
    
    /*elektryk*/
    
    
    .unit_one{
      display: inline-block;
      position: absolute;
      width: 300px;
      height: 280px;
      background: #e8e8e8;
      border-radius: 2%;
      box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
      margin-left: 200px;
    }

  
  
 
    .unit_one_name{ 
      color: rgb(7, 70, 122);
      font-size: 30px;
 margin-top: 30px;
text-align: center;
    }
    
.unit_one_sity{
  color: rgb(7, 70, 122);
      position: relative;
      font-size: 20px;
      padding-left: 78px;
      margin-top: 0px;
    }


.unit_one_passing{
  position: absolute;
  width: 180px;
  height: 50px;
  background-color: rgb(7, 70, 122);
 color: rgb(237, 233, 241);
  text-decoration: none;
  left: 60px;
  font-size: 24px;
  top: 195px;
padding-top: 13px;
padding-left: 10px;
 border-radius: 2%;
  box-shadow: 0 5px 15px 0 rgb(12, 11, 12);
  transition: 0.5s;
}


.unit_one_passing:hover{
 transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 rgb(15, 15, 15)
}


    
    /*koniec elektryk*/
    /*slusarz*/
    
   
   .unit_two{
    display: inline-block;
      position: absolute;
      width: 300px;
      height: 280px;
      background: #e8e8e8;
      border-radius: 2%;
      box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
      margin-left: 650px;
   } 
 
    
    .unit_two_name{
      color: rgb(7, 70, 122);
      font-size: 30px;
 margin-top: 30px;
text-align: center;
    }

    .unit_two_sity{
      color: rgb(7, 70, 122);
      position: relative;
      font-size: 20px;
      padding-left: 78px;
      margin-top: 0px;
    }

    .unit_two_passing{
      position: absolute;
      width: 180px;
      height: 50px;
      background-color: rgb(7, 70, 122);
     color: rgb(237, 233, 241);
      text-decoration: none;
      left: 60px;
      font-size: 24px;
      top: 195px;
    padding-top: 13px;
    padding-left: 10px;
     border-radius: 2%;
      box-shadow: 0 5px 15px 0 rgb(12, 11, 12);
      transition: 0.5s;
    }

    .unit_two_passing:hover{
      transform: translate(0,-3px);
       box-shadow: 0 20px 40px 0 rgb(15, 15, 15)
     }
     
    
    /*koniec-slusarz*/
    
    
    /*magaziner*/


.unit_three{
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 280px;
  background: #e8e8e8;
  border-radius: 2%;
  box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
  margin-left: 1100px;
}


.unit_three_name
{
  color: rgb(7, 70, 122);
font-size: 30px;
margin-top: 40px;
text-align: center;}


.unit_three_sity{
  color: rgb(7, 70, 122);
      position: relative;
      font-size: 20px;
      padding-left: 78px;
      padding-top: 30px;
}


.unit_three_passing{
  position: absolute;
  width: 180px;
  height: 50px;
  background-color: rgb(7, 70, 122);
 color: rgb(237, 233, 241);
  text-decoration: none;
  left: 60px;
  font-size: 24px;
  top: 195px;
padding-top: 13px;
padding-left: 10px;
 border-radius: 2%;
  box-shadow: 0 5px 15px 0 rgb(12, 11, 12);
  transition: 0.5s;
}


.unit_three_passing:hover{
  transform: translate(0,-3px);
   box-shadow: 0 20px 40px 0 rgb(15, 15, 15);
 }
    
    /*koniec-magaziner*/
    
    
    
    
    /*monter*/
    .unit_four{
      display: inline-block;
      position: absolute;
      width: 300px;
      height: 280px;
      background: #e8e8e8;
      border-radius: 2%;
      box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
      margin-left: 200px;
      margin-top: 400px;
    }
    
    
    .unit_four_name
    {
      color: rgb(7, 70, 122);
    font-size: 30px;
    margin-top: 40px;
    text-align: center;}
    
    
    .unit_four_sity{
      color: rgb(7, 70, 122);
          position: relative;
          font-size: 20px;
          padding-left: 78px;
          padding-top: 30px;
    }
    
    
    .unit_four_passing{
      position: absolute;
      width: 180px;
      height: 50px;
      background-color: rgb(7, 70, 122);
     color: rgb(237, 233, 241);
      text-decoration: none;
      left: 60px;
      font-size: 24px;
      top: 195px;
    padding-top: 13px;
    padding-left: 10px;
     border-radius: 2%;
      box-shadow: 0 5px 15px 0 rgb(12, 11, 12);
      transition: 0.5s;
    }
    
    
    .unit_four_passing:hover{
      transform: translate(0,-3px);
       box-shadow: 0 20px 40px 0 rgb(15, 15, 15);
     }
    /*koniec-monter*/
    
    
    /*monter-bez-dosw*/
    
    .unit_five{
      display: inline-block;
      position: absolute;
      width: 300px;
      height: 280px;
      background: #e8e8e8;
      border-radius: 2%;
      box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
      margin-left: 650px;
      margin-top: 400px;
    }
    
    
    .unit_five_name
    {
      color: rgb(7, 70, 122);
    font-size: 30px;
    margin-top: 20px;
    text-align: center;}
    
    
    .unit_five_sity{
      color: rgb(7, 70, 122);
          position: relative;
          font-size: 20px;
          padding-left: 78px;
          padding-top: 20px;
    }
    
    
    .unit_five_passing{
      position: absolute;
      width: 180px;
      height: 50px;
      background-color: rgb(7, 70, 122);
     color: rgb(237, 233, 241);
      text-decoration: none;
      left: 60px;
      font-size: 24px;
      top: 195px;
    padding-top: 13px;
    padding-left: 10px;
     border-radius: 2%;
      box-shadow: 0 5px 15px 0 rgb(12, 11, 12);
      transition: 0.5s;
    }
    
    
    .unit_five_passing:hover{
      transform: translate(0,-3px);
       box-shadow: 0 20px 40px 0 rgb(15, 15, 15);
     }
    
    
    
    /*koniec-monter-bez-dosw*/
    
    /*spawacz*/
    
    .unit_six{
      display: inline-block;
      position: absolute;
      width: 300px;
      height: 280px;
      background: #e8e8e8;
      border-radius: 2%;
      box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
      margin-left: 1100px;
      margin-top: 400px;
    }
    
    
    .unit_six_name
    {
      color: rgb(7, 70, 122);
    font-size: 30px;
    margin-top: 20px;
    text-align: center;}
    
    
    .unit_six_sity{
      color: rgb(7, 70, 122);
          position: relative;
          font-size: 20px;
          padding-left: 78px;
          padding-top: 50px;
    }
    
    
    .unit_six_passing{
      position: absolute;
      width: 180px;
      height: 50px;
      background-color: rgb(7, 70, 122);
     color: rgb(237, 233, 241);
      text-decoration: none;
      left: 60px;
      font-size: 24px;
      top: 195px;
    padding-top: 13px;
    padding-left: 10px;
     border-radius: 2%;
      box-shadow: 0 5px 15px 0 rgb(12, 11, 12);
      transition: 0.5s;
    }
    
    
    .unit_six_passing:hover{
      transform: translate(0,-3px);
       box-shadow: 0 20px 40px 0 rgb(15, 15, 15);
     }
    
    
    
    /*koniec-spawacz*/
    
    
    
    /*szliferz*/
    
    
    .unit_seven{
      display: inline-block;
      position: absolute;
      width: 300px;
      height: 280px;
      background: #e8e8e8;
      border-radius: 2%;
      box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
      margin-left: 200px;
      margin-top: 800px;
    }
    
    
    .unit_seven_name
    {
      color: rgb(7, 70, 122);
    font-size: 30px;
    margin-top: 20px;
    text-align: center;}
    
    
    .unit_seven_sity{
      color: rgb(7, 70, 122);
          position: relative;
          font-size: 20px;
          padding-left: 78px;
          padding-top: 50px;
    }
    
    
    .unit_seven_passing{
      position: absolute;
      width: 180px;
      height: 50px;
      background-color: rgb(7, 70, 122);
     color: rgb(237, 233, 241);
      text-decoration: none;
      left: 60px;
      font-size: 24px;
      top: 195px;
    padding-top: 13px;
    padding-left: 10px;
     border-radius: 2%;
      box-shadow: 0 5px 15px 0 rgb(12, 11, 12);
      transition: 0.5s;
    }
    
    
    .unit_seven_passing:hover{
      transform: translate(0,-3px);
       box-shadow: 0 20px 40px 0 rgb(15, 15, 15);
     }
    /*koniec-szliferz*/
    
    
    /*pomocnik-spawacza*/
    
    .unit_eight{
      display: inline-block;
      position: absolute;
      width: 300px;
      height: 280px;
      background: #e8e8e8;
      border-radius: 2%;
      box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
      margin-left: 650px;
      margin-top: 800px;
    }
    
    
    .unit_eight_name
    {
      color: rgb(7, 70, 122);
    font-size: 30px;
    margin-top: 20px;
    text-align: center;}
    
    
    .unit_eight_sity{
      color: rgb(7, 70, 122);
          position: relative;
          font-size: 20px;
          padding-left: 78px;
          padding-top: 20px;
    }
    
    
    .unit_eight_passing{
      position: absolute;
      width: 180px;
      height: 50px;
      background-color: rgb(7, 70, 122);
     color: rgb(237, 233, 241);
      text-decoration: none;
      left: 60px;
      font-size: 24px;
      top: 195px;
    padding-top: 13px;
    padding-left: 10px;
     border-radius: 2%;
      box-shadow: 0 5px 15px 0 rgb(12, 11, 12);
      transition: 0.5s;
    }
    
    
    .unit_eight_passing:hover{
      transform: translate(0,-3px);
       box-shadow: 0 20px 40px 0 rgb(15, 15, 15);
     }
    
    /*koniec-pomocnik-spawacza*/
    
    
    /*wniosek*/
    .conclusion{
    position: absolute;
    width: 50px;
    height: 50px;
    }
    
    .conclusion_one{
    position: relative;
    width: 1000px;
    height: 500px;
    top: 1150px;
    left:300px;
    font-size: 40px;
    text-align: center;
    color:rgb(7, 70, 122);
    }
    
   
    
    
    /*koniec-wniosku*/
    
    
    /*footer*/
    
    .info{
    position: relative;
    width: 1600px;
    height: 350px;
    background-color: rgb(17, 63, 90);
    margin-top: 1430px;
    }
    
    
    .big_foot{
    margin-top: -10px;
    padding-left: 180px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: white;
    text-decoration: none;
    }
      
    
    
    
    .guide_one{
    position: absolute;
    top: 35px;
    left: 950px;
    fill: white;
    }
        
    .guide_two{
    width: 200px;
    position: absolute;
    top: 45px;
    left: 1020px;
    color: white;
    font-size:25px;
    text-decoration: none;
    }
    
    .case{ 
    position: absolute;
    width: 250px;
    height: 0px;
    top: 120px;
    left: 180px;
    color: white;
    font-size:25px;
    }
        
        
    .case_one{
    position: absolute;
    top: 135px;
    left: 400px;
    fill: rgb(255, 255, 255);
    }
        
        
    .case_two{
    position: absolute;
    top: 147px;
    left: 480px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
        
    .farther{
    position: absolute;
    top: 135px;
    left: 950px;
    fill: rgb(69, 126, 231); 
    }
    
    .farther_one{
    position: absolute;
    top: 145px;
    left: 1030px; 
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
    
    .beyond{
    position: absolute;
    top: 135px;
    left: 1180px; 
    }
    
    .beyond_one{
    position: absolute;
    top: 145px;
    left: 1260px; 
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
        
    
    
    .outside{
    position: absolute;
    top: 240px;
    left: 950px;
    }
    
    .outside_one{
    position: absolute;
    top: 250px;
    left: 1030px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
    
    
    .outside_two{
    position: absolute;
    top: 250px;
    left: 400px;
    fill: white;
    
    }
    
    .outside_tu_two{
    position: absolute;
    top: 260px;
    left: 480px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
    
    
    .outside_free{
    position: absolute;
    top: 240px;
    left: 1180px;
    fill: rgb(10, 9, 9);
    }
    
    .outside_to_free{
    position: absolute;
    top: 250px;
    left: 1255px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    } 
    
    .outside_vor{
    position: absolute;
    top: 245px;
    left: 650px;
    fill: rgb(240, 235, 241);
    }
    
    
    .outside_to_vor{
    position: absolute;
    top: 260px;
    left: 720px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
    
    
    /*koniec-footer*/


    @media screen and (min-width: 200px) and (max-width: 400px) {

      body {
        width: 399px;
        height: auto;
        margin-left: auto;
       margin-right: auto;
       overflow-x: hidden;
      }
    
    
      header,
      main,
      footer {
        overflow-x: hidden;
      }
    
      ul {
        padding-left: 0;
      }
    
      li {
        list-style-type: none;
      }
    
    
      /*header*/
      .logo_one {
        width: 80px;
        height: 80px;
        margin-left: 0px;
        margin-top: 5px;
      }
    
      .mn {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: white;
        margin-bottom: 10px;
      }
    
      .big_one {
        position: relative;
        text-align: center;
        font-size: 21px;
        font-family: 'inherit';
        font-weight: bold;
        color: rgb(7, 70, 122);
        transition: all 1s;
        font-weight: bold;
        text-decoration: none;
        top: 2px;
        left: 2%;
      }

      
    
      .line {
        display: none;
      }
    
      .first_part,
      .second_part,
      .third_part,
      .thirdes_part {
        margin-left: 18px;
        font-size: 20px;
        color: rgb(7, 70, 122);
      }
    
     .fifth_part_one{
      margin-left: 24px;
      font-size: 20px;
      color: rgb(7, 70, 122);
      text-decoration: none;
      font-weight: bold;
     }
    
    
    
      .first_part::after {
        content: '';
        position: absolute;
        margin-bottom: -10px;
        height: 2px;
        background-color: rgb(36, 119, 167);
        width: 0;
        left: 68%;
        bottom: 0;
        transform: translateX(-50%);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      }
    
      .first_part:hover {
        color: rgb(0, 132, 255);
      }
    
      .first_part:hover::after {
        width: 50px;
      }
    
    
      .fifth_part_one::after {
        content: '';
        position: absolute;
        margin-bottom: -10px;
        height: 2px;
        background-color: rgb(36, 119, 167);
        width: 0;
        left: 60%;
        bottom: 0;
        transform: translateX(-50%);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      }
    
      .fifth_part_one:hover {
        color: rgb(0, 132, 255);
      }
    
      .fifth_part_one:hover::after {
        width: 70px;
      }
    
    
      .second_part::after {
        content: '';
        position: absolute;
        margin-bottom: -10px;
        height: 2px;
        background-color: rgb(36, 119, 167);
        width: 0;
        left: 63%;
        bottom: 0;
        transform: translateX(-50%);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      }
    
      .second_part:hover {
        color: rgb(0, 132, 255);
      }
    
      .second_part:hover::after {
        width: 63px;
      }
    
    
    
      .thirdes_part::after {
        content: '';
        position: absolute;
        margin-bottom: -10px;
        height: 2px;
        background-color: rgb(36, 119, 167);
        width: 0;
        left: 65%;
        bottom: 0;
        transform: translateX(-50%);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      }
    
      .thirdes_part:hover {
        color: rgb(0, 132, 255);
      }
    
      .thirdes_part:hover::after {
        width: 60px;
      }

      

.vacancy{
  font-size: 25px;
  margin-bottom: 50px;
}
/*elektryk*/


.unit_one{
  width: 250px;
  height: 230px;
  margin-left: 60px;
}

.unit_one_name{
  font-size: 20px;
}

.unit_one_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_one_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-elektryk*/
/*slusarz*/
.dissociation{
  width: 300px;
  height: 300px;
}

.unit_two{
  width: 250px;
  height: 230px;
  margin-left: 60px;
  margin-top: 20px;
}

.unit_two_name{
  font-size: 20px;
}

.unit_two_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_two_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}


/*koniec-slusarz*/

/*magaziner*/
.unit_three{
  width: 250px;
  height: 230px;
  margin-left: 60px;
  margin-top: 40px;
}

.unit_three_name{
  font-size: 20px;
}

.unit_three_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_three_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-magaziner*/

/*monter-spawacz*/

.unit_four{
  width: 250px;
  height: 230px;
  margin-left: 60px;
  margin-top: 60px;
}

.unit_four_name{
  font-size: 20px;
}

.unit_four_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_four_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-monter-spawacz*/
/*monter-prosty*/
.unit_five{
  width: 250px;
  height: 230px;
  margin-left: 60px;
  margin-top: 80px;
}

.unit_five_name{
  font-size: 20px;
}

.unit_five_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_five_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-monter-prosty*/

/*spawacz*/

.unit_six{
  width: 250px;
  height: 230px;
  margin-left: 60px;
  margin-top: 100px;
}

.unit_six_name{
  font-size: 20px;
}

.unit_six_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_six_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-spawacz*/
/*Szliferz*/
.unit_seven{
  width: 250px;
  height: 230px;
  margin-left: 60px;
  margin-top: 120px;
}

.unit_seven_name{
  font-size: 20px;
}

.unit_seven_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_seven_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}


/*Koniec-szliferz*/

/*Pomocnuk-spawacza*/

.unit_eight{
  width: 250px;
  height: 230px;
  margin-left: 60px;
  margin-top: 120px;
}

.unit_eight_name{
  font-size: 20px;
}

.unit_eight_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_eight_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*Koniec-pomocnik-spawacza*/




/*Wniosek*/

.conclusion_one{
  left: 90px;
  top:130px;
  font-size: 20px;
  width: 200px;
  height: 500px;
}





/*footer*/

.info_mob {
  position: absolute;

}

.info {
  margin-top: 400px; 
  position: relative;
  left: 0%;
  width: 380px;
  height: 690px;
  background-color: rgb(17, 63, 90);
  overflow: hidden;
}

.big_foot {
  padding-left: 25px;
  padding-top: 15px;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.guide_one {
  position: absolute;
  top: 80px;
  left: 30px;
  fill: white;
}

.guide_two {
  left: 105px;
  top: 90px;
}

.case {
  left: 115px;
  top: 120px;
}

.case_one {
  left: 33px;
  top: 130px;
}

.case_two {
  left: 20px;
  top: 190px;
  font-size: 20px;
}

.farther {
  left: 40px;
  top: 230px;
}

.farther_one {
  left: 115px;
  top: 240px;
}

.beyond {
  left: 40px;
  top: 295px;
}

.beyond_one {
  left: 110px;
  top: 300px;
}

.outside {
  left: 39px;
  top: 360px;
}

.outside_one {
  left: 112px;
  top: 370px;
}

.outside_two {
  left: 41px;
  top: 430px;
}

.outside_tu_two {
  left: 115px;
  top: 435px;
}

.outside_vor {
  left: 37px;
  top: 485px;
}

.outside_to_vor {
  left: 113px;
  top: 495px;
}

.outside_free {
  left: 40px;
  top: 550px;
  fill: white;
}

.outside_to_free {
  left: 113px;
  top: 560px;
}

/*koniec-footer*/

    }






    @media screen and (min-width: 400px) and (max-width: 600px) {


/*header*/


body {
  width: 570px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.logo_one {
  width: 105px;
  height: 105px;
  margin-left: -1%;
  margin-top: 0px;
}

.mn {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  margin-bottom: 10px;
}

.big_one {
  position: relative;
  text-align: center;
  font-size: 23px;
  font-family: 'inherit';
  font-weight: bold;
  color: rgb(7, 70, 122);
  transition: all 1s;
  font-weight: bold;
  text-decoration: none;
  top: 4px;
  left:-3% ;
}

.line {
  display: none;
}

.first_part,
.second_part,
.third_part,
.fifth_part_one,
.thirdes_part {
  margin-left: 28px;
  font-size: 20px;
  color: rgb(7, 70, 122);
}

.first_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 2px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 68%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.first_part:hover {
  color: rgb(0, 132, 255);
}

.first_part:hover::after {
  width: 60px;
}

.second_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 2px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 63%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.second_part:hover {
  color: rgb(0, 132, 255);
}

.second_part:hover::after {
  width: 83px;
}

.thirdes_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 2px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 65%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.thirdes_part:hover {
  color: rgb(0, 132, 255);
}

.thirdes_part:hover::after {
  width: 75px;
}


.fifth_part_one::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 2px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 63%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.fifth_part_one:hover {
  color: rgb(0, 132, 255);
}
.fifth_part_one:hover::after {
  width: 85px;
}



.vacancy{
  font-size: 28px;
  margin-bottom: 50px;
  margin-left: -160px;
}
/*elektryk*/
.dissociation{
  width: 300px;
  height: 300px;
}

.unit_one{
  width: 250px;
  height: 230px;
  margin-left: 70px;
}

.unit_one_name{
  font-size: 20px;
}

.unit_one_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_one_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-elektryk*/
/*slusarz*/

.unit_two{
  width: 250px;
  height: 230px;
  margin-left: 70px;
  margin-top: 0px;
}

.unit_two_name{
  font-size: 20px;
}

.unit_two_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_two_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}


/*koniec-slusarz*/

/*magaziner*/
.unit_three{
  width: 250px;
  height: 230px;
  margin-left: 70px;
  margin-top:10px;
}

.unit_three_name{
  font-size: 20px;
}

.unit_three_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_three_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-magaziner*/

/*monter-spawacz*/

.unit_four{
  width: 250px;
  height: 230px;
  margin-left: 70px;
  margin-top: 10px;
}

.unit_four_name{
  font-size: 20px;
}

.unit_four_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_four_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-monter-spawacz*/
/*monter-prosty*/
.unit_five{
  width: 250px;
  height: 230px;
  margin-left: 70px;
  margin-top: 10px;
}

.unit_five_name{
  font-size: 20px;
}

.unit_five_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_five_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-monter-prosty*/

/*spawacz*/

.unit_six{
  width: 250px;
  height: 230px;
  margin-left: 70px;
  margin-top: 10px;
}

.unit_six_name{
  font-size: 20px;
}

.unit_six_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_six_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*koniec-spawacz*/
/*Szliferz*/
.unit_seven{
  width: 250px;
  height: 230px;
  margin-left: 70px;
  margin-top: 10px;
}

.unit_seven_name{
  font-size: 20px;
}

.unit_seven_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_seven_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}


/*Koniec-szliferz*/

/*Pomocnuk-spawacza*/

.unit_eight{
  width: 250px;
  height: 230px;
  margin-left: 70px;
  margin-top: 10px;
}

.unit_eight_name{
  font-size: 20px;
}

.unit_eight_sity{
  font-size: 17px;
  padding-left: 68px;
}


.unit_eight_passing{
  top:135px;
  left: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
/*Koniec-pomocnik-spawacza*/



/*WWniosek*/

.conclusion_one{
  left: 100px;
  top:10px;
  font-size: 20px;
  width: 200px;
  height: 500px;
}


/*footer*/

.info_mob {
  position: absolute;
  height: 900px;
 
}

.info {
  position: relative;
  top: -1200px;
  left: 0%;
  width: 570px;
  height: 650px;
  background-color: rgb(17, 63, 90);
  overflow: hidden;
}

.big_foot {
  padding-left: 30px;
  padding-top: 15px;
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.guide_one {
  position: absolute;
  top: 80px;
  left: 40px;
  fill: white;
}

.guide_two {
  left: 115px;
  top: 90px;
}

.case {
  left: 115px;
  top: 120px;
}

.case_one {
  left: 43px;
  top: 130px;
}

.case_two {
  left: 20px;
  top: 190px;
  font-size: 22px;
}

.farther {
  left: 40px;
  top: 230px;
}

.farther_one {
  left: 115px;
  top: 240px;
}

.beyond {
  left: 40px;
  top: 295px;
}

.beyond_one {
  left: 110px;
  top: 300px;
}

.outside {
  left: 39px;
  top: 360px;
}

.outside_one {
  left: 112px;
  top: 370px;
}

.outside_two {
  left: 41px;
  top: 430px;
}

.outside_tu_two {
  left: 115px;
  top: 435px;
}

.outside_vor {
  left: 37px;
  top: 485px;
}

.outside_to_vor {
  left: 113px;
  top: 495px;
}

.outside_free {
  left: 40px;
  top: 550px;
  fill: white;
}

.outside_to_free {
  left: 113px;
  top: 560px;
}






    }


    @media screen and (min-width: 600px) and (max-width: 900px) {
      body {
        width: 880px;
        height: auto;
        margin-left: 1px;
        margin-right: 40px;
      }
    
      header,
      main,
      footer {
        overflow-x: hidden;
      }
    
      ul {
        padding-left: 0;
      }
    
      li {
        list-style-type: none;
      }
/*header*/
.logo_one {
  width: 130px;
  height: 130px;
  margin-left: 10px;
  margin-top: 5px;
}

.mn {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  margin-bottom: 10px;
}

.big_one {
  position: relative;
  text-align: center;
  font-size: 35px;
  font-family: 'inherit';
  font-weight: bold;
  color: rgb(7, 70, 122);
  transition: all 1s;
  font-weight: bold;
  text-decoration: none;
  top: 12px;
  left: 0%;
}


.line {
  display: none;

  }


.about,
.career,
.price,
.bell {
  float: left;
  margin-top: 80px;
  margin-bottom: 70px;
  position: relative;
}


.first_part,
.second_part,
.thirdes_part,
.fifth_part_one{
margin-left: 85px;
margin-top: 50px;
}

.first_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 70%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.first_part:hover {
  color: rgb(0, 132, 255);
}

.first_part:hover::after {
  width: 70px;
}


.second_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 70%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.second_part:hover {
  color: rgb(0, 132, 255);
}

.second_part:hover::after {
  width: 88px;
}

.thirdes_part::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 70%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.thirdes_part:hover {
  color: rgb(0, 132, 255);
}

.thirdes_part:hover::after {
  width: 85px;
}

.fifth_part_one::after {
  content: '';
  position: absolute;
  margin-bottom: -10px;
  height: 3px;
  background-color: rgb(36, 119, 167);
  width: 0;
  left: 64%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.fifth_part_one:hover {
  color: rgb(0, 132, 255);
}

.fifth_part_one:hover::after {
  width: 105px;
}

/*koniec-header*/    
.vacancy{
  font-size: 40px;
  margin-bottom: 50px;
  margin-left: -100px;
}

/*elektryk*/
.dissociation{
  width: 500px;
  height: 500px;
}

.unit_one{
  width: 450px;
  height: 430px;
  margin-left: 170px;
}

.unit_one_name{
  font-size: 50px;
}

.unit_one_sity{
  font-size: 30px;
  padding-left: 108px;
}


.unit_one_passing{
margin-top: 65px;
  left: 95px;
  width: 250px;
  height: 70px;
  font-size: 35px;
  padding-top: 20px;
}
/*koniec-elektryk*/
/*slusarz*/

.unit_two{
  width: 450px;
  height: 430px;
  margin-left: 170px;
  margin-top: 0px;
}

.unit_two_name{
  font-size: 50px;
}

.unit_two_sity{
  font-size: 30px;
  padding-left: 108px;
}


.unit_two_passing{
  margin-top: 65px;
  left: 95px;
  width: 250px;
  height: 70px;
  font-size: 35px;
  padding-top: 20px;
}


/*koniec-slusarz*/

/*magaziner*/
.unit_three{
  width: 450px;
  height: 430px;
  margin-left: 170px;
  margin-top:10px;
}

.unit_three_name{
  font-size: 50px;
}

.unit_three_sity{
  font-size: 30px;
  padding-left: 108px;
}


.unit_three_passing{
  margin-top: 65px;
  left: 95px;
  width: 250px;
  height: 70px;
  font-size: 35px;
  padding-top: 20px;
}
/*koniec-magaziner*/

/*monter-spawacz*/

.unit_four{
  width: 450px;
  height: 430px;
  margin-left: 170px;
  margin-top: 10px;
}

.unit_four_name{
  font-size: 50px;
}

.unit_four_sity{
  font-size: 30px;
  padding-left: 108px;
}


.unit_four_passing{
  margin-top: 65px;
  left: 95px;
  width: 250px;
  height: 70px;
  font-size: 35px;
  padding-top: 20px;
}
/*koniec-monter-spawacz*/
/*monter-prosty*/
.unit_five{
  width: 450px;
  height: 430px;
  margin-left: 170px;
  margin-top: 10px;
}

.unit_five_name{
  font-size: 50px;
}

.unit_five_sity{
  font-size: 30px;
  padding-left: 108px;
}


.unit_five_passing{
  margin-top: 65px;
  left: 95px;
  width: 250px;
  height: 70px;
  font-size: 35px;
  padding-top: 20px;
}
/*koniec-monter-prosty*/

/*spawacz*/

.unit_six{
  width: 450px;
  height: 430px;
  margin-left: 170px;
  margin-top: 10px;
}

.unit_six_name{
  font-size: 50px;
}

.unit_six_sity{
  font-size: 30px;
  padding-left: 108px;
}


.unit_six_passing{
  margin-top: 65px;
  left: 95px;
  width: 250px;
  height: 70px;
  font-size: 35px;
  padding-top: 20px;
}
/*koniec-spawacz*/
/*Szliferz*/
.unit_seven{
  width: 450px;
  height: 430px;
  margin-left: 170px;
  margin-top: 10px;
}

.unit_seven_name{
  font-size: 50px;
}

.unit_seven_sity{
  font-size: 30px;
  padding-left: 108px
}


.unit_seven_passing{
  margin-top: 65px;
  left: 95px;
  width: 250px;
  height: 70px;
  font-size: 35px;
  padding-top: 20px;
}


/*Koniec-szliferz*/

/*Pomocnuk-spawacza*/

.unit_eight{
  width: 450px;
  height: 430px;
  margin-left: 170px;
  margin-top: 10px;
}

.unit_eight_name{
  font-size: 50px;
}

.unit_eight_sity{
  font-size: 30px;
  padding-left: 108px;
}


.unit_eight_passing{
  margin-top: 65px;
  left: 95px;
  width: 250px;
  height: 70px;
  font-size: 35px;
  padding-top: 20px;
}
/*Koniec-pomocnik-spawacza*/
.conclusion_one{
  left: 150px;
  top:10px;
  font-size: 50px;
  width: 500px;
  height: 500px;
}
/*footer*/
  
.info_mob {
  position: absolute;
  height: 1250px;
}
.info {
  position: relative;
  top: -850px;
  left: 1px;
  width: 810px;
  height: 630px;
  background-color: rgb(17, 63, 90);
  overflow: hidden;
}

.big_foot {
  padding-left: 30px;
  padding-top: 5px;
  font-size: 45px;
  font-family: 'Playfair Display', serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.guide_one {
  position: absolute;
  top: 120px;
  left: 60px;
  fill: white;
}

.guide_two {
  left: 175px;
  top: 130px;
  width: 400px;
  font-size: 30px;
}

.case {
  left: 180px;
  top: 160px;
  font-size: 30px;
}

.case_one {
  left: 65px;
  top: 250px;
}

.case_two {
  left: 180px;
  top: 260px;
  font-size: 28px;
}

.farther {
  left: 80px;
  top: 330px;
}

.farther_one {
  left: 180px;
  top: 345px;
}

.beyond {
  left: 430px;
  top: 330px;
}

.beyond_one {
  left: 500px;
  top: 340px;
}

.outside {
  left: 80px;
  top: 410px;
}

.outside_one {
  left: 170px;
  top: 420px;
}

.outside_two {
  left: 435px;
  top: 410px;
}

.outside_tu_two {
  left: 505px;
  top: 420px;
}

.outside_vor {
  left: 75px;
  top: 490px;
}

.outside_to_vor {
  left: 175px;
  top: 500px;
}

.outside_free {
  left: 430px;
  top: 500px;
  fill: white;
}

.outside_to_free {
  left: 510px;
  top:500px;
}

/*koniev-footer*/




}