body{
    margin-left: auto;
    margin-right: auto;
    width: 1600px;

    }
    
    header,
    main,
    footer{
    overflow-x: hidden;
    }

    main{
      margin-left: 50px;
    }
    
    ul {
    padding-left: 0;
    }
    
    li {
    list-style-type: none;
    }
    
    .line{
    border-bottom: 1px solid;
    }
    
    .big{
    text-align: center;
    }
    
     
        
    /*header*/
    
    .logo {
      position: absolute;
      top: 10px;
      left: 110px;
    }
    
    .logo_one {
      width: 110px;
      height: 110px;
    }
    
    
    
    
    .line {
      border-bottom: 2px solid;
      color: rgba(88, 88, 88, 0.479);
    }
    
    .big {
      position: relative;
      text-align: center;
      font-size: 50px;
      font-family: 'inherit';
      font-weight: bold;
      color: rgb(7, 70, 122);
      transition: all 1s;
      font-weight: bold;
      text-decoration: none;
    }
    
    .big_one {
      text-decoration: none;
    }
    
    
    .mn {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: white;
      margin-bottom: 15px;
    }
    
    
    
    .about,
    .career,
    .azja,
    .price,
    .bell {
      float: left;
      margin-top: 30px;
      margin-bottom: 15px;
      position: relative;
    }
    
    
    
    .first_part,
    .second_part,
    .azja_part,
    .third_part,
    .fifth_part,
    .thirdes_part {
      margin-left: 140px;
      text-decoration: none;
      color: black;
      font-size: 25px;
      font-weight: bold;
      color: rgb(0, 0, 0);
      transition: all 1s;
      color: rgb(7, 70, 122);
    }
    
    .first_part::after {
      content: '';
      position: absolute;
      margin-bottom: -10px;
      height: 3px;
      background-color: rgb(36, 119, 167);
      width: 0;
      left: 71%;
      bottom: 0;
      transform: translateX(-50%);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .first_part:hover {
      color: rgb(0, 132, 255);
    }
    
    .first_part:hover::after {
      width: 160px;
    }
    
    .second_part::after {
      content: '';
      position: absolute;
      margin-bottom: -10px;
      height: 3px;
      background-color: rgb(36, 119, 167);
      width: 0;
      left: 75%;
      bottom: 0;
      transform: translateX(-50%);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .second_part:hover {
      color: rgb(0, 132, 255);
    }
    
    .second_part:hover::after {
      width: 135px;
    }
    
    
    
    .azja_part::after {
      content: '';
      position: absolute;
      margin-bottom: -10px;
      height: 3px;
      background-color: rgb(36, 119, 167);
      width: 0;
      left: 70%;
      bottom: 0;
      transform: translateX(-50%);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .azja_part:hover {
      color: rgb(0, 132, 255);
    }
    
    .azja_part:hover::after {
      width: 195px;
    }
    
    
    .thirdes_part::after {
      content: '';
      position: absolute;
      margin-bottom: -10px;
      height: 3px;
      background-color: rgb(36, 119, 167);
      width: 0;
      left: 73%;
      bottom: 0;
      transform: translateX(-50%);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .thirdes_part:hover {
      color: rgb(0, 132, 255);
    }
    
    .thirdes_part:hover::after {
      width: 160px;
    }
    
    .fifth_part::after {
      content: '';
      position: absolute;
      margin-bottom: -10px;
      height: 3px;
      background-color: rgb(36, 119, 167);
      width: 0;
      left: 80%;
      bottom: 0;
      transform: translateX(-50%);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .fifth_part:hover {
      color: rgb(0, 132, 255);
    }
    
    .fifth_part:hover::after {
      width: 100px;
    }
    
    
    
    /*koniec heder*/
    
    
    
    /*Latwosc-wspolpracy*/
    .streak{
    position: relative;
    }
    
    .easy{
    
    font-size: 48px;
    color: rgb(7, 70, 122);
    }
    
    .strip{
    color: rgb(7, 70, 122);
    width:600px;
    height: 3px;
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: -55px;
    }
    
    .strip_one{
    position: absolute;
    top: 145px;
    left: 25px;
    background-color: rgb(7, 70, 122);
    width: 3px;
    height: 100px;
    margin-bottom: 50px;
    }
    
    .aesily{
    font-size: 23px;
    margin-bottom: 40px;
    margin-left: 5px;
    }
    
    .simply{
    font-size: 23px;
    margin-bottom: 30px;
   
    }
    
    .strip_two{
    background-color: rgb(7, 70, 122);
    width:400px;
    height: 2px;
    margin-left: 800px;
    margin-bottom: 40px;
    }
    
    .readli{
    font-size: 23px;
    margin-bottom: 30px;
  
    }
    
    .mild_one{
    font-size: 21px;
    margin-left: 30px;
    }
    
    
    /*szkolenie*/
    .mild_two{
    font-size: 23px;
    margin-bottom: 20px;
    }
    
    
    .part{
    background-color: rgb(7, 70, 122);
    width:400px;
    height: 2px;
    margin-left: 100px;
    margin-bottom: 40px;
    }
    
    
    .share{
    color: rgb(7, 70, 122);
    font-size: 48px;
    }
    
    .share_one{
    font-size: 23px;
    margin-bottom: 10px;
    
    }
    /*konies-szlokinie*/
    
    /*RBH*/
    
    .stria{
    color: rgb(7, 70, 122);
    width:400px;
    height: 3px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: -120px;
    }
    
    .bar{
    position: relative;
    top: 340px;
    left:0;
    color: rgb(7, 70, 122);
    width:5px;
    height: 150px;
    margin-left: 0px;
    margin-bottom: 40px;
    }
    
    .whole{
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-size: 48px;
    }
    
    .whole_one{
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-size: 30px;
    }
    .whole_two{
    font-size: 23px;
    margin-left: 30px;
  
    }
    /*koniec-RBH*/
    
    
    
    /*rekrytacja*/
    
    .half{
    color: rgb(7, 70, 122);
    font-size: 48px;
    }
    
    /*Koniec-rekrutacja*/
    
    
      
    /*Sczegoly*/
    
    .colophon,.name_me,.business{
      margin-top: 15px;
    color: rgb(7, 70, 122);
    font-size: 23px;  
    font-weight: bold;
    }
    
    .business_tel{
    text-decoration: none;
    color: rgb(7, 70, 122);
    font-size: 28px;
    font-weight: bold;  
    }
    
    /*koniec-scezgoly*/
    
      /*footer*/
    
      .info {
        position: relative;
        width: 1600px;
        height: 350px;
        background-color: rgb(17, 63, 90);
        margin-top: 50px;
        overflow: hidden;
      }
      
      
      .big_foot {
        margin-top: -10px;
        padding-left: 180px;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        color: white;
        text-decoration: none;
      }
      
      .guide_one {
        position: absolute;
        top: 35px;
        left: 950px;
        fill: white;
      }
      .ad{
        width: 200px;
        position: absolute;
        top: 100px;
        left: 180px;
        color: white;
        font-size: 25px;
      }
      
      .guide_two {
        width: 200px;
        position: absolute;
        top: 170px;
        left: 180px;
        color: white;
        font-size: 25px;
        text-decoration: none;
      }
      
      .case {
        position: absolute;
        width: 250px;
        height: 0px;
        top: 120px;
        left: 180px;
        color: white;
        font-size: 25px;
      }
      
      
      .case_two {
        position: absolute;
        top: 210px;
        left: 180px;
        font-size: 25px;
        color: white;
        text-decoration: none;
      }
      
      .farther {
        position: absolute;
        top: 45px;
        left: 1070px;
        fill: rgb(69, 126, 231);
      }
      
      .farther_one {
        position: absolute;
        top: 52px;
        left: 1120px;
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
      
      .beyond {
        position: absolute;
        top: 86px;
        left: 1070px;
      }
      
      .beyond_one {
        position: absolute;
        top: 93px;
        left: 1120px;
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
      
      .outside {
        position: absolute;
        top: 130px;
        left: 1073px;
      }
      
      .outside_one {
        position: absolute;
        top: 135px;
        left: 1123px;
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
      
      .outside_two {
        position: absolute;
        top: 155px;
        left: 1055px;
        fill: white;
      }
      
      .outside_tu_two {
        position: absolute;
        top: 180px;
        left: 1125px;
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
      
      
      .outside_free {
        position: absolute;
        top: 260px;
        left: 1080px;
        fill: rgb(10, 9, 9);fill: white;
      }
      
      .outside_to_free {
        position: absolute;
        top: 260px;
        left: 1127px;
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
      
      .outside_vor {
        position: absolute;
        top: 212px;
        left: 1070px;
        fill: rgb(240, 235, 241);
      }
      
      .outside_to_vor {
        position: absolute;
        top: 220px;
        left: 1125px;
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
      
      
      .social{
        position: relative;
        top:-63px;
        left:870px;
      
      }
      
      .social_one{
      color: white;
      font-size: 30px;
      }
      
      
      
      /*koniec-footer*/
    

      @media screen and (min-width: 200px) and (max-width: 400px) {

        body {
          width: 390px;
          height: auto;
          margin-left: auto;
         margin-right: auto;
        }
      
      
        header,
        footer {
          overflow-x: hidden;
        }

        main{
          margin-left: 10px;
          overflow-x: hidden;
        }
      
        ul {
          padding-left: 0;
        }
      
        li {
          list-style-type: none;
        }
      
      
        /*header*/
        .logo_one {
          width: 90px;
          height: 90px;
          margin-left: 10px;
          margin-top: 15px;
        }
      
        .mn {
          position: sticky;
          top: 0;
          z-index: 2;
          background-color: white;
          margin-bottom: 10px;
        }

        .about,.career,.price,.bell{
          margin-left: 2px;
          margin-right: 2px;
        }
      
        .big {
          position: relative;
          text-align: center;
          font-size: 19px;
          font-family: 'inherit';
          font-weight: bold;
          color: rgb(7, 70, 122);
          transition: all 1s;
          font-weight: bold;
          text-decoration: none;
          top: 10px;
          left: 5%;
        }
      
        .line {
          display: none;
        }
      
        .first_part,
        .second_part,
        .third_part,
        .fifth_part,
        .thirdes_part {
          margin-left: 24px;
          font-size: 18px;
          color: rgb(7, 70, 122);
        }
      
      
      
      
        .first_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 68%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .first_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .first_part:hover::after {
          width: 50px;
        }
      
      
        .fifth_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 63%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .fifth_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .fifth_part:hover::after {
          width: 70px;
        }
      
      
        .second_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 63%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .second_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .second_part:hover::after {
          width: 63px;
        }
      
      
      
        .thirdes_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 65%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .thirdes_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .thirdes_part:hover::after {
          width: 60px;
        }

/*koniec-header*/


/*latwosc-wspolpracy*/


.easy{
  font-size: 35px;
  margin-left: 5px;
  
}



.strip_one{
  width: 170px;
  height: 2px;
  top: 500px;
}

.aesily{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 30px;
}

.simply{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 30px;
}

.readli{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 30px;
}

.mild_one{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 35px;
  }
  
  /*koniec-latwosc-wspolpracy*/

  /*szkolenie*/
.part{
  width: 150px;
}

.mild_two{
  font-size: 18px; 
  margin-left: 15px;
  margin-right: 35px;
}

.share{
  font-size: 35px;
  margin-left: 15px;
}

.share_one{
  font-size: 18px; 
  margin-left: 15px;
  margin-right: 35px;
}

/*konies-szlokinie*/
    
/*RBH*/

.whole{
  font-size: 35px;
  margin-left: 10px;
  }


  .whole_one{
    font-size: 28px;
    margin-left: 10px;
  }

.whole_two{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 27px;
}
 /*koniec-RBH*/
/*rekrytacja*/
.half{
  font-size: 35px;
  margin-left: 15px;
  margin-right: 35px;
}

.half_one{
  margin-left: 15px;
}


 /*Koniec-rekrutacja*/



   /*Sczegoly*/ 

   .colophon,.name_me,.business,.business_tel{
  font-size: 28px;
  margin-left: 15px;
  margin-right: 35px;
}


/*koniec-scegoly*/





        /*footer*/

  .info_mob {
    position: absolute;
  }

  .info {
    position: relative;
    left: 2%;
    width: 380px;
    height: 650px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 18px;
    padding-top: 15px;
    font-size: 23px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 80px;
    left: 30px;
    fill: white;
  }

  .guide_two {
    left: 105px;
    top: 90px;
  }

  .case {
    left: 115px;
    top: 120px;
  }

  .case_one {
    left: 33px;
    top: 130px;
  }

  .case_two {
    left: 20px;
    top: 190px;
    font-size: 19px;
  }

  .farther {
    left: 40px;
    top: 230px;
  }

  .farther_one {
    left: 115px;
    top: 240px;
  }

  .beyond {
    left: 40px;
    top: 295px;
  }

  .beyond_one {
    left: 110px;
    top: 300px;
  }

  .outside {
    left: 39px;
    top: 360px;
  }

  .outside_one {
    left: 112px;
    top: 370px;
  }

  .outside_two {
    left: 41px;
    top: 430px;
  }

  .outside_tu_two {
    left: 115px;
    top: 435px;
  }

  .outside_vor {
    left: 37px;
    top: 485px;
  }

  .outside_to_vor {
    left: 113px;
    top: 495px;
  }

  .outside_free {
    left: 40px;
    top: 550px;
    fill: white;
  }

  .outside_to_free {
    left: 113px;
    top: 560px;
  }

  /*koniec-footer*/



      }


      @media screen and (min-width: 400px) and (max-width: 600px){

        
        body {
          width: 590px;
          height: auto;
          margin-left: 0px;
          margin-right: 20px;
        }
        header,
        footer {
          overflow-x: hidden;
        }

        main{
          margin-left: 10px;
          overflow-x: hidden;
        }
      
        ul {
          padding-left: 0;
        }
      
        li {
          list-style-type: none;
        }
  
        .logo_one {
          width: 90px;
          height: 90px;
          margin-left: 0px;
          margin-top: 5px;
        }
      
        .mn {
          position: sticky;
          top: 0;
          z-index: 2;
          background-color: white;
          margin-bottom: 10px;
        }
      
        .big {
          position: relative;
          text-align: center;
          font-size: 24px;
          font-family: 'inherit';
          font-weight: bold;
          color: rgb(7, 70, 122);
          transition: all 1s;
          font-weight: bold;
          text-decoration: none;
          top: 2px;
          left: -4%;
        }
  
        .big_one{
          font-size: 25px;
          margin-left: 15px;
          margin-top: 7px;
        }
      
        .line {
          display: none;
        }
      
        .first_part,
        .second_part,
        .third_part,
        .fifth_part,
        .thirdes_part {
          margin-left: 25px;
          font-size: 20px;
          color: rgb(7, 70, 122);
      
        }
      
      
        .first_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 68%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .first_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .first_part:hover::after {
          width: 50px;
        }
      
      
        .fifth_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 63%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .fifth_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .fifth_part:hover::after {
          width: 70px;
        }
      
      
        .second_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 63%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .second_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .second_part:hover::after {
          width: 63px;
        }
      
      
      
        .thirdes_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 65%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .thirdes_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .thirdes_part:hover::after {
          width: 60px;
        }
  
        .vacancy{
          font-size: 30px;
          margin-left: -75px;
        }
  
  
        .about,.career,.price,.bell{
          margin-left: 7px;
          margin-top: 40px;
        }
/*koniec-header*/


/*latwosc-wspolpracy*/


.easy{
  font-size: 32px;
  margin-left: 10px;
  margin-right: 60px;
}



.strip_one{
  width: 180px;
  height: 2px;
  top: 700px;
}

.aesily{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 180px;
}

.simply{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 180px;
}

.readli{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 180px;
}

.mild_one{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 180px;
  }
  
  /*koniec-latwosc-wspolpracy*/

  /*szkolenie*/
.part{
  width: 150px;
}



.mild_two{
  font-size: 20px; 
  margin-left: 15px;
  margin-right: 180px;
}

.share{
  font-size: 35px;
  margin-left: 15px;
  margin-right: 180px;
}

.share_one{
  font-size: 20px; 
  margin-left: 15px;
  margin-right: 180px;
}

/*konies-szlokinie*/
    
/*RBH*/

.whole{
  font-size: 35px;
  margin-left: 10px;
  }


  .whole_one{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 100px;
  }

.whole_two{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 180px;
}
 /*koniec-RBH*/
/*rekrytacja*/
.half{
  font-size: 35px;
  margin-left: 15px;
  margin-right: 180px;
}

.half_one{
  margin-left: 15px;
  font-size: 30px;
  margin-right: 180px;
}


 /*Koniec-rekrutacja*/



   /*Sczegoly*/ 

   .colophon,.name_me,.business,.business_tel{
  font-size: 28px;
  margin-left: 15px;
  margin-right: 180px;
}


/*koniec-scegoly*/





        /*footer*/

        .info_mob {
          position: absolute;
        }
      
        .info {
          position: relative;
          top: 0px;
          left: 1%;
          width: 550px;
          height: 650px;
          background-color: rgb(17, 63, 90);
          overflow: hidden;
        }
      
        .big_foot {
          padding-left: 18px;
          padding-top: 15px;
          font-size: 26px;
          font-family: 'Playfair Display', serif;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }
      
        .guide_one {
          position: absolute;
          top: 80px;
          left: 30px;
          fill: white;
        }
      
        .guide_two {
          left: 105px;
          top: 90px;
        }
      
        .case {
          left: 115px;
          top: 120px;
        }
      
        .case_one {
          left: 33px;
          top: 130px;
        }
      
        .case_two {
          left: 15px;
          top: 190px;
          font-size: 20px;
        }
      
        .farther {
          left: 40px;
          top: 230px;
        }
      
        .farther_one {
          left: 115px;
          top: 240px;
        }
      
        .beyond {
          left: 40px;
          top: 295px;
        }
      
        .beyond_one {
          left: 110px;
          top: 300px;
        }
      
        .outside {
          left: 39px;
          top: 360px;
        }
      
        .outside_one {
          left: 112px;
          top: 370px;
        }
      
        .outside_two {
          left: 41px;
          top: 430px;
        }
      
        .outside_tu_two {
          left: 115px;
          top: 435px;
        }
      
        .outside_vor {
          left: 37px;
          top: 485px;
        }
      
        .outside_to_vor {
          left: 113px;
          top: 495px;
        }
      
        .outside_free {
          left: 40px;
          top: 550px;
          fill: white;
        }
      
        .outside_to_free {
          left: 113px;
          top: 560px;
        }
  

  /*koniec-footer*/
}



@media screen and (min-width: 600px) and (max-width: 900px) {




  body{
    width: 890px;
    margin-left: 1px;
  }

  header,
  footer {
    overflow-x: hidden;
  }

  main{
    overflow-x: hidden;
    margin-left: 10px;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  .logo_one{
    width: 118px;
    height: 118px;
  }

  .big{
    font-size: 47px;
    margin-top: -35px;
    margin-left: -5%;
  }

.about,.career,.price,.bell{
  margin-left: -50px;
  margin-right: 30px;
}
  .fifth_part{
    font-size: 27px;
    margin-left: 210px;
  }

  .line{
 width: 800px;
 margin-left: 20px;
  }
/*koniec-header*/

/*latwosc-wspolpracy*/

.easy{
  margin-left: 10px;
  margin-bottom: 50px;
  margin-right: 40px;
}


.strip{
  margin-bottom: -100px;
}

.aesily{
  margin-left: 50px;
  margin-right: 120px;
  font-size: 23px;
  margin-top: 100px;
}


.strip_one{
  margin-top: 20px;
}
.strip_two{
  margin-left: 200px;
}

.simply,.readli,.mild_one,.mild_two,.share,.share_one,.whole,.whole_one,.whole_two,.half,.half_one{
  margin-left: 50px;
  margin-right: 80px;
  font-size: 23px;
  margin-right: 150px;
}
.share_one{
  margin-right: 150px;
}
/*koniec-latwosc-wspolpracy*/

/*szkolenie*/

.part{
  margin-left: 200px;
}

/*Sczegoly*/

.colophon,.name_me,.business,.business_tel{
  margin-left: 30px;
  margin-right: 150px;
  font-size: 30px;
}
.share{
  font-size: 35px;
}

/*koniec-scegoly*/

/*RBH*/
.whole{
  font-size: 35px;
  margin-right: 60px;
}

.whole_one{
  font-size: 30px;
}

/*rekrytacja*/
.half,.half_one{
  font-size: 30px;
}



/*footer*/

.info {
  position: relative;
  width: 890px;
  height: 450px;
  background-color: rgb(17, 63, 90);
  margin-top: 0px;
  overflow: hidden;
}


.big_foot {
  margin-top: -10px;
  padding-left: 50px;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  color: white;
  text-decoration: none;
}

.guide_one {
  position: absolute;
  top: 15px;
  left: 490px;
  fill: white;
}

.guide_two {
  position: absolute;
  top: 25px;
  left: 550px;
  color: white;
  font-size: 28px;
  text-decoration: none;
  width: 250px;
}


.case {
  position: absolute;
  width: 250px;
  height: 0px;
  top: 80px;
  left: 40px;
  color: white;
  font-size: 25px;
}

.case_one {
  position: absolute;
  top: 90px;
  left: 230px;
  fill: rgb(255, 255, 255);
}

.case_two {
  position: absolute;
  top: 100px;
  left: 280px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.farther {
  position: absolute;
  top: 165px;
  left: 40px;
  fill: rgb(69, 126, 231);
}

.farther_one {
  position: absolute;
  top: 175px;
  left: 100px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.beyond {
  position: absolute;
  top: 170px;
  left: 280px;
}


.beyond_one {
  position: absolute;
  top: 175px;
  left: 340px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside {
  position: absolute;
  top: 240px;
  left: 40px;
}

.outside_one {
  position: absolute;
  top: 250px;
  left: 100px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside_two {
  position: absolute;
  top: 250px;
  left: 285px;
  fill: white;
}

.outside_tu_two {
  position: absolute;
  top: 260px;
  left: 345px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside_vor {
  position: absolute;
  top: 238px;
  left: 520px;
  fill: rgb(240, 235, 241);
}

.outside_to_vor {
  position: absolute;
  top: 260px;
  left: 715px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside_to_vor {
  position: absolute;
  top: 260px;
  left: 600px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside_free {
  left: 535px;
  top: 170px;
  fill: white;
}

.outside_to_free {
  left: 600px;
  top: 180px;
  font-size: 30px;
}





}


@media screen and (min-width: 900px) and (max-width:1300px) {


  body {
    width: 1290px;
    height: auto;
    margin-left: 1px;
    margin-right: 40px;
  }

  

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  /*header*/

  .logo_one {
    width: 130px;
    height: 130px;
    margin-left: 50px;
    margin-top: 5px;
    margin-right: 20px;
  }

  .mn {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
    bottom: 0px;
    height: 250px;
  }

  .big {
    position: relative;
    text-align: center;
    font-size: 45px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    top: 0px;
    left: 0%;
  }

  .line {
    border-bottom: 1px solid;
    color: rgb(0, 0, 0);
    width: 1200px;
    margin-top: 40px;
    margin-left: 30px;
margin-bottom: -10px;
  }


.strip{
  margin-top: -60px;
}
  .about,
  .career,
  .price,
  .bell {
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
  }

  .first_part,
  .second_part,
  .third_part,
  .fifth_part,
  .thirdes_part {
    margin-left: 140px;
    font-size: 30px;
  }


  .first_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 81%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .first_part:hover { color: rgb(0, 132, 255); }
    .first_part:hover::after { width: 70px; }
    
    .second_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 80%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    .second_part:hover { color: rgb(0, 132, 255); }
    .second_part:hover::after { width: 99px; }
    
    
    
    .thirdes_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 81%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .thirdes_part:hover { color: rgb(0, 132, 255); }
    .thirdes_part:hover::after { width: 90px; }
    
    .fifth_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 77%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .fifth_part:hover { color: rgb(0, 132, 255); }
    .fifth_part:hover::after { width: 120px; }
    
  













  /*footer*/
.info{
  width: 1240px;
  height: 350px;
  margin-left: 5px;
}

.big_foot {
  padding-left: 70px;
}

.guide_one{
  left: 750px;
}

.guide_two{
  left: 820px;
  font-size: 23px;
}


.case{
  left: 70px;
  font-size: 25px;
}

.case_one{
  left: 250px;
}

.case_two {
  left: 310px;
  font-size: 25px;
}


.farther{
  left: 750px; 
}


.farther_one {
  left: 830px;
}

.beyond {
  left: 960px;
}



.beyond_one {
  left: 1030px;
}



.outside_one {
 
  left: 830px;
}

.outside_two{
  left: 250px;
}


.outside {
  left: 750px;
}



.outside_tu_two {
  
  left: 320px;
 
}

.outside_vor {
  left: 480px;
  top: 235px;
}


.outside_to_vor {

  left: 560px;

}


.outside_free {
  left: 970px;
}

.outside_to_free {
  left: 1025px;
}




}


@media screen and (min-width: 1300px) and (max-width: 1600px) {


  .logo_one {
    top: -15px;
    left: -15px;
  }

.big{
  margin-left: 0%;
}

.about,
.career,
.price,
.bell {
margin-left: -20px;
}

.strip{
  margin-top: -55px;
}


.description {
  left:-100px
}

/*footer*/
.info{
  width: 1440px;
  height: 350px;
  margin-left: 5px;
}

.big_foot {
  padding-left: 90px;
}

.guide_one{
  left: 700px;
}

.guide_two{
  left: 770px;
  width: 250px;
  font-size: 28px;
}


.case{
  left: 90px;
  font-size: 27px;
}

.case_one{
  left: 290px;
}

.case_two {
  left: 340px;
  font-size: 23px;
}


.farther{
  left: 770px; 
}


.farther_one {
  left: 850px;
}

.beyond {
  left: 980px;
}



.beyond_one {
  left: 1050px;
}



.outside_one {
 
  left: 850px;
}

.outside_two{
  left: 270px;
}


.outside {
  left: 770px;
}



.outside_tu_two {
  
  left: 340px;
 
}

.outside_vor {
  left: 490px;
  top: 240px;
}


.outside_to_vor {

  left: 560px;

}


.outside_free {
  left: 970px;
}

.outside_to_free {
  left: 1025px;
}



}