body{
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    font-family: Noto Sans, sans-serif;
    }
    
    header,
    main,
    footer{
    overflow-x: hidden;
    }

    main{
      margin-left: 50px;
    }
    
    ul {
    padding-left: 0;
    }
    
    li {
    list-style-type: none;
    }
    
    .line{
    border-bottom: 1px solid;
    }
    
    .big{
    text-align: center;
    }
    
     
        
    /*header*/
    
    .logo{
    position: absolute;
    top: -15px;
    left: 0;
    }
    
    
    .line{
    border-bottom: 2px solid;
    color: rgb(0, 0, 0);
    }
    
    .big{
    position: relative;
    text-align: center;
    font-size: 75px;
    font-family: 'inherit';
    font-weight: bold;
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-weight: bold;
    text-decoration: none;
    }
    
    .big_one{
    text-decoration: none;
    }
        
    
    .new{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin-bottom: 15px;
    }
    
    
    
    .about,.career,.price,.bell{
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    }
    
    
    
    .first_part,.second_part,.third_part,.fifth_part,.thirdes_part{
    margin-left: 230px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: all 1s;
    }
    
    .first_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 88%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .first_part:hover { color: rgb(0, 132, 255); }
    .first_part:hover::after { width: 70px; }
    
    .second_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 85%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    .second_part:hover { color: rgb(0, 132, 255); }
    .second_part:hover::after { width: 99px; }
    
    
    
    .thirdes_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 87%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .thirdes_part:hover { color: rgb(0, 132, 255); }
    .thirdes_part:hover::after { width: 90px; }
    
    .fifth_part::after{
    content: '';
    position: absolute;
    margin-bottom: -10px;
    height: 3px;
    background-color: rgb(36, 119, 167);
    width: 0;
    left: 83%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    .fifth_part:hover { color: rgb(0, 132, 255); }
    .fifth_part:hover::after { width: 120px; }
    
    
    .fifth_part{
    margin-left: 228px;
    text-decoration: none;
    color: black;
    font-size: large;
    }
    
    
    /*koniec heder*/
    
    
    
    /*Latwosc-wspolpracy*/
    .streak{
    position: relative;
    }
    
    .easy{
    
    font-size: 48px;
    color: rgb(7, 70, 122);
    }
    
    .strip{
    color: rgb(7, 70, 122);
    width:600px;
    height: 3px;
    margin-left: 0px;
    margin-bottom: 50px;
    }
    
    .strip_one{
    position: absolute;
    top: 145px;
    left: 25px;
    background-color: rgb(7, 70, 122);
    width: 3px;
    height: 100px;
    margin-bottom: 50px;
    }
    
    .aesily{
    font-size: 20px;
    font-family: Noto Sans, sans-serif;
    margin-bottom: 70px;
    margin-left: 50px;
    }
    
    .simply{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Noto Sans, sans-serif;
    }
    
    .strip_two{
    background-color: rgb(7, 70, 122);
    width:400px;
    height: 2px;
    margin-left: 800px;
    margin-bottom: 40px;
    }
    
    .readli{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Noto Sans, sans-serif;
    }
    
    .mild_one{
    font-size: 20px;
    margin-left: 30px;
    }
    
    
    /*szkolenie*/
    .mild_two{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Noto Sans, sans-serif;  
    }
    
    
    .part{
    background-color: rgb(7, 70, 122);
    width:400px;
    height: 2px;
    margin-left: 100px;
    margin-bottom: 40px;
    }
    
    
    .share{
    color: rgb(7, 70, 122);
    font-size: 48px;
    }
    
    .share_one{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Noto Sans, sans-serif;
    }
    /*konies-szlokinie*/
    
    /*RBH*/
    
    .stria{
    color: rgb(7, 70, 122);
    width:400px;
    height: 3px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: -120px;
    }
    
    .bar{
    position: relative;
    top: 340px;
    left:0;
    color: rgb(7, 70, 122);
    width:5px;
    height: 150px;
    margin-left: 0px;
    margin-bottom: 40px;
    }
    
    .whole{
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-size: 48px;
    }
    
    .whole_one{
    color: rgb(7, 70, 122);
    transition: all 1s;
    font-size: 30px;
    }
    .whole_two{
    font-size: 20px;
    margin-left: 30px;
    font-family: Noto Sans, sans-serif;
    }
    /*koniec-RBH*/
    
    
    
    /*rekrytacja*/
    
    .half{
    color: rgb(7, 70, 122);
    font-size: 48px;
    }
    
    /*Koniec-rekrutacja*/
    
    
      
    /*Sczegoly*/
    
    .colophon,.name_me,.business{
    color: rgb(7, 70, 122);
    font-size: 25px;  
    font-weight: bold;
    }
    
    .business_tel{
    text-decoration: none;
    color: rgb(7, 70, 122);
    font-size: 25px;
    font-weight: bold;  
    }
    
    /*koniec-scezgoly*/
    
      /*footer*/
    
    .info{
    position: relative;
    width: 1600px;
    height: 350px;
    background-color: rgb(17, 63, 90);
    margin-top: 100px;
    overflow: hidden;
    }
      
      
    .big_foot{
    margin-top: -10px;
    padding-left: 180px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: white;
    text-decoration: none;
    }
        
      
    .guide_one{
    position: absolute;
    top: 35px;
    left: 950px;
    fill: white;
    }
          
    .guide_two{
    width: 200px;
    position: absolute;
    top: 45px;
    left: 1020px;
    color: white;
    font-size:25px;
    text-decoration: none;
    }
      
    .case{ 
    position: absolute;
    width: 250px;
    height: 0px;
    top: 120px;
    left: 180px;
    color: white;
    font-size:25px;
    }
          
          
    .case_one{
    position: absolute;
    top: 135px;
    left: 400px;
    fill: rgb(255, 255, 255);
    }
          
          
    .case_two{
    position: absolute;
    top: 147px;
    left: 480px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
          
    .farther{
    position: absolute;
    top: 135px;
    left: 950px;
    fill: rgb(69, 126, 231); 
    }
      
    .farther_one{
    position: absolute;
    top: 145px;
    left: 1030px; 
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
      
    .beyond{
    position: absolute;
    top: 135px;
    left: 1180px; 
    }
      
    .beyond_one{
    position: absolute;
    top: 145px;
    left: 1260px; 
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
          
      
      
    .outside{
    position: absolute;
    top: 240px;
    left: 950px;
    }
      
    .outside_one{
    position: absolute;
    top: 250px;
    left: 1030px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
      
      
    .outside_two{
    position: absolute;
    top: 250px;
    left: 400px;
    fill: white;  
    }
      
    .outside_tu_two{
    position: absolute;
    top: 260px;
    left: 480px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
        
    .outside_free{
    position: absolute;
    top: 240px;
    left: 1180px;
    fill: rgb(10, 9, 9);
    }
      
    .outside_to_free{
    position: absolute;
    top: 250px;
    left: 1255px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    } 
      
    .outside_vor{
    position: absolute;
    top: 245px;
    left: 650px;
    fill: rgb(240, 235, 241);
    }
      
      
    .outside_to_vor{
    position: absolute;
    top: 260px;
    left: 720px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    }
      
      
      /*koniec-footer*/
    

      @media screen and (min-width: 200px) and (max-width: 400px) {

        body {
          width: 390px;
          height: auto;
          margin-left: auto;
         margin-right: auto;
        }
      
      
        header,
        footer {
          overflow-x: hidden;
        }

        main{
          margin-left: 10px;
          overflow-x: hidden;
        }
      
        ul {
          padding-left: 0;
        }
      
        li {
          list-style-type: none;
        }
      
      
        /*header*/
        .logo_one {
          width: 90px;
          height: 90px;
          margin-left: 10px;
          margin-top: 15px;
        }
      
        .mn {
          position: sticky;
          top: 0;
          z-index: 2;
          background-color: white;
          margin-bottom: 10px;
        }

        .about,.career,.price,.bell{
          margin-left: 2px;
          margin-right: 2px;
        }
      
        .big {
          position: relative;
          text-align: center;
          font-size: 19px;
          font-family: 'inherit';
          font-weight: bold;
          color: rgb(7, 70, 122);
          transition: all 1s;
          font-weight: bold;
          text-decoration: none;
          top: 10px;
          left: 5%;
        }
      
        .line {
          display: none;
        }
      
        .first_part,
        .second_part,
        .third_part,
        .fifth_part,
        .thirdes_part {
          margin-left: 24px;
          font-size: 18px;
          color: rgb(7, 70, 122);
        }
      
      
      
      
        .first_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 68%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .first_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .first_part:hover::after {
          width: 50px;
        }
      
      
        .fifth_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 63%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .fifth_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .fifth_part:hover::after {
          width: 70px;
        }
      
      
        .second_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 63%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .second_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .second_part:hover::after {
          width: 63px;
        }
      
      
      
        .thirdes_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 65%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .thirdes_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .thirdes_part:hover::after {
          width: 60px;
        }

/*koniec-header*/


/*latwosc-wspolpracy*/


.easy{
  font-size: 35px;
  margin-left: 5px;
  
}



.strip_one{
  width: 170px;
  height: 2px;
  top: 500px;
}

.aesily{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 30px;
}

.simply{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 30px;
}

.readli{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 30px;
}

.mild_one{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 35px;
  }
  
  /*koniec-latwosc-wspolpracy*/

  /*szkolenie*/
.part{
  width: 150px;
}

.mild_two{
  font-size: 18px; 
  margin-left: 15px;
  margin-right: 35px;
}

.share{
  font-size: 35px;
  margin-left: 15px;
}

.share_one{
  font-size: 18px; 
  margin-left: 15px;
  margin-right: 35px;
}

/*konies-szlokinie*/
    
/*RBH*/

.whole{
  font-size: 35px;
  margin-left: 10px;
  }


  .whole_one{
    font-size: 28px;
    margin-left: 10px;
  }

.whole_two{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 27px;
}
 /*koniec-RBH*/
/*rekrytacja*/
.half{
  font-size: 35px;
  margin-left: 15px;
  margin-right: 35px;
}

.half_one{
  margin-left: 15px;
}


 /*Koniec-rekrutacja*/



   /*Sczegoly*/ 

   .colophon,.name_me,.business,.business_tel{
  font-size: 28px;
  margin-left: 15px;
  margin-right: 35px;
}


/*koniec-scegoly*/





        /*footer*/

  .info_mob {
    position: absolute;
  }

  .info {
    position: relative;
    left: 2%;
    width: 380px;
    height: 650px;
    background-color: rgb(17, 63, 90);
    overflow: hidden;
  }

  .big_foot {
    padding-left: 18px;
    padding-top: 15px;
    font-size: 23px;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .guide_one {
    position: absolute;
    top: 80px;
    left: 30px;
    fill: white;
  }

  .guide_two {
    left: 105px;
    top: 90px;
  }

  .case {
    left: 115px;
    top: 120px;
  }

  .case_one {
    left: 33px;
    top: 130px;
  }

  .case_two {
    left: 20px;
    top: 190px;
    font-size: 19px;
  }

  .farther {
    left: 40px;
    top: 230px;
  }

  .farther_one {
    left: 115px;
    top: 240px;
  }

  .beyond {
    left: 40px;
    top: 295px;
  }

  .beyond_one {
    left: 110px;
    top: 300px;
  }

  .outside {
    left: 39px;
    top: 360px;
  }

  .outside_one {
    left: 112px;
    top: 370px;
  }

  .outside_two {
    left: 41px;
    top: 430px;
  }

  .outside_tu_two {
    left: 115px;
    top: 435px;
  }

  .outside_vor {
    left: 37px;
    top: 485px;
  }

  .outside_to_vor {
    left: 113px;
    top: 495px;
  }

  .outside_free {
    left: 40px;
    top: 550px;
    fill: white;
  }

  .outside_to_free {
    left: 113px;
    top: 560px;
  }

  /*koniec-footer*/



      }


      @media screen and (min-width: 400px) and (max-width: 600px){

        
        body {
          width: 590px;
          height: auto;
          margin-left: -5px;
          margin-right: 20px;
        }
        header,
        footer {
          overflow-x: hidden;
        }

        main{
          margin-left: 10px;
          overflow-x: hidden;
        }
      
        ul {
          padding-left: 0;
        }
      
        li {
          list-style-type: none;
        }
  
        .logo_one {
          width: 120px;
          height: 120px;
          margin-left: 10px;
          margin-top: 5px;
        }
      
        .mn {
          position: sticky;
          top: 0;
          z-index: 2;
          background-color: white;
          margin-bottom: 10px;
        }
      
        .big {
          position: relative;
          text-align: center;
          font-size: 23px;
          font-family: 'inherit';
          font-weight: bold;
          color: rgb(7, 70, 122);
          transition: all 1s;
          font-weight: bold;
          text-decoration: none;
          top: 9px;
          left: 1%;
        }
  
        .big_one{
          font-size: 25px;
          margin-left: 15px;
          margin-top: 7px;
        }
      
        .line {
          display: none;
        }
      
        .first_part,
        .second_part,
        .third_part,
        .fifth_part,
        .thirdes_part {
          margin-left: 39px;
          font-size: 22px;
          color: rgb(7, 70, 122);
      
        }
      
      
        .first_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 68%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .first_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .first_part:hover::after {
          width: 50px;
        }
      
      
        .fifth_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 63%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .fifth_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .fifth_part:hover::after {
          width: 70px;
        }
      
      
        .second_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 63%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .second_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .second_part:hover::after {
          width: 63px;
        }
      
      
      
        .thirdes_part::after {
          content: '';
          position: absolute;
          margin-bottom: -10px;
          height: 3px;
          background-color: rgb(36, 119, 167);
          width: 0;
          left: 65%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
      
        .thirdes_part:hover {
          color: rgb(0, 132, 255);
        }
      
        .thirdes_part:hover::after {
          width: 60px;
        }
  
        .vacancy{
          font-size: 30px;
          margin-left: -75px;
        }
  
  
        .about,.career,.price,.bell{
          margin-left: 7px;
          margin-top: 40px;
        }
/*koniec-header*/


/*latwosc-wspolpracy*/


.easy{
  font-size: 35px;
  margin-left: 10px;
  margin-right: 60px;
}



.strip_one{
  width: 180px;
  height: 2px;
  top: 615px;
}

.aesily{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 60px;
}

.simply{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 60px;
}

.readli{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 60px;
}

.mild_one{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 60px;
  }
  
  /*koniec-latwosc-wspolpracy*/

  /*szkolenie*/
.part{
  width: 150px;
}



.mild_two{
  font-size: 20px; 
  margin-left: 15px;
  margin-right: 60px;
}

.share{
  font-size: 35px;
  margin-left: 15px;
  margin-right: 60px;
}

.share_one{
  font-size: 20px; 
  margin-left: 15px;
  margin-right: 60px;
}

/*konies-szlokinie*/
    
/*RBH*/

.whole{
  font-size: 35px;
  margin-left: 10px;
  }


  .whole_one{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 60px;
  }

.whole_two{
  font-size: 20px;
  margin-left: 15px;
  margin-right: 60px;
}
 /*koniec-RBH*/
/*rekrytacja*/
.half{
  font-size: 35px;
  margin-left: 15px;
  margin-right: 35px;
}

.half_one{
  margin-left: 15px;
  font-size: 30px;
}


 /*Koniec-rekrutacja*/



   /*Sczegoly*/ 

   .colophon,.name_me,.business,.business_tel{
  font-size: 28px;
  margin-left: 15px;
  margin-right: 60px;
}


/*koniec-scegoly*/





        /*footer*/

        .info_mob {
          position: absolute;
        }
      
        .info {
          position: relative;
          top: 0px;
          left: 1%;
          width: 550px;
          height: 650px;
          background-color: rgb(17, 63, 90);
          overflow: hidden;
        }
      
        .big_foot {
          padding-left: 18px;
          padding-top: 15px;
          font-size: 26px;
          font-family: 'Playfair Display', serif;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }
      
        .guide_one {
          position: absolute;
          top: 80px;
          left: 30px;
          fill: white;
        }
      
        .guide_two {
          left: 105px;
          top: 90px;
        }
      
        .case {
          left: 115px;
          top: 120px;
        }
      
        .case_one {
          left: 33px;
          top: 130px;
        }
      
        .case_two {
          left: 15px;
          top: 190px;
          font-size: 20px;
        }
      
        .farther {
          left: 40px;
          top: 230px;
        }
      
        .farther_one {
          left: 115px;
          top: 240px;
        }
      
        .beyond {
          left: 40px;
          top: 295px;
        }
      
        .beyond_one {
          left: 110px;
          top: 300px;
        }
      
        .outside {
          left: 39px;
          top: 360px;
        }
      
        .outside_one {
          left: 112px;
          top: 370px;
        }
      
        .outside_two {
          left: 41px;
          top: 430px;
        }
      
        .outside_tu_two {
          left: 115px;
          top: 435px;
        }
      
        .outside_vor {
          left: 37px;
          top: 485px;
        }
      
        .outside_to_vor {
          left: 113px;
          top: 495px;
        }
      
        .outside_free {
          left: 40px;
          top: 550px;
          fill: white;
        }
      
        .outside_to_free {
          left: 113px;
          top: 560px;
        }
  

  /*koniec-footer*/
}



@media screen and (min-width: 600px) and (max-width: 900px) {




  body{
    width: 890px;
    margin-left: 1px;
  }

  header,
  footer {
    overflow-x: hidden;
  }

  main{
    overflow-x: hidden;
    margin-left: 10px;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  .logo_one{
    width: 190px;
    height: 190px;
  }

  .big{
    font-size: 75px;
  }

.about,.career,.price,.bell{
  margin-left: -50px;
  margin-right: 30px;
}
  .fifth_part{
    font-size: 27px;
    margin-left: 210px;
  }

  .line{
 width: 800px;
 margin-left: 20px;
  }
/*koniec-header*/

/*latwosc-wspolpracy*/

.easy{
  margin-left: 10px;
  margin-bottom: 50px;
  margin-right: 40px;
}


.strip{
  margin-bottom: -100px;
}

.aesily{
  margin-left: 50px;
  margin-right: 80px;
  font-size: 23px;
  margin-top: 100px;
}

.strip_two{
  margin-left: 200px;
}

.simply,.readli,.mild_one,.mild_two,.share,.share_one,.whole,.whole_one,.whole_two,.half,.half_one{
  margin-left: 50px;
  margin-right: 80px;
  font-size: 23px;
}

/*koniec-latwosc-wspolpracy*/

/*szkolenie*/

.part{
  margin-left: 200px;
}

/*Sczegoly*/

.colophon,.name_me,.business,.business_tel{
  margin-left: 30px;
  margin-right: 80px;
  font-size: 30px;
}
.share{
  font-size: 35px;
}
.share_one{
  font-size: 23px;
  margin-right: 60px;
}
/*koniec-scegoly*/

/*RBH*/
.whole{
  font-size: 35px;
  margin-right: 60px;
}

.whole_one{
  font-size: 30px;
}

/*rekrytacja*/
.half,.half_one{
  font-size: 30px;
}



/*footer*/

.info {
  position: relative;
  width: 890px;
  height: 450px;
  background-color: rgb(17, 63, 90);
  margin-top: 0px;
  overflow: hidden;
}


.big_foot {
  margin-top: -10px;
  padding-left: 50px;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  color: white;
  text-decoration: none;
}

.guide_one {
  position: absolute;
  top: 15px;
  left: 490px;
  fill: white;
}

.guide_two {
  position: absolute;
  top: 25px;
  left: 550px;
  color: white;
  font-size: 28px;
  text-decoration: none;
  width: 250px;
}


.case {
  position: absolute;
  width: 250px;
  height: 0px;
  top: 80px;
  left: 40px;
  color: white;
  font-size: 25px;
}

.case_one {
  position: absolute;
  top: 90px;
  left: 230px;
  fill: rgb(255, 255, 255);
}

.case_two {
  position: absolute;
  top: 100px;
  left: 280px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.farther {
  position: absolute;
  top: 165px;
  left: 40px;
  fill: rgb(69, 126, 231);
}

.farther_one {
  position: absolute;
  top: 175px;
  left: 100px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.beyond {
  position: absolute;
  top: 170px;
  left: 280px;
}


.beyond_one {
  position: absolute;
  top: 175px;
  left: 340px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside {
  position: absolute;
  top: 240px;
  left: 40px;
}

.outside_one {
  position: absolute;
  top: 250px;
  left: 100px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside_two {
  position: absolute;
  top: 250px;
  left: 285px;
  fill: white;
}

.outside_tu_two {
  position: absolute;
  top: 260px;
  left: 345px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside_vor {
  position: absolute;
  top: 238px;
  left: 520px;
  fill: rgb(240, 235, 241);
}

.outside_to_vor {
  position: absolute;
  top: 260px;
  left: 715px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside_to_vor {
  position: absolute;
  top: 260px;
  left: 600px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.outside_free {
  left: 535px;
  top: 170px;
  fill: white;
}

.outside_to_free {
  left: 600px;
  top: 180px;
  font-size: 30px;
}





}